{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}"
          rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('home') }}">{{ "USER_APP_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <i class="material-icons">people_outline</i>
        <h3>{{ "USER_APP_TITLE"| trans }}</h3>
    </div>


    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-body">
                <table data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-search-on-enter-key="true"
                       data-show-export="true"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-side-pagination="server"
                       data-sort-name="id_user"
                       data-sort-order="desc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                >
                    <thead>
                    <tr>
                        <th class="col-md-1" data-field="action" data-formatter="actionFormatter"
                            data-events="actionEvents" data-sortable="false"></th>
                        <th data-field="id_user" data-sortable="true" data-sort-name="id">{{ "LABEL_ID"| trans }}</th>
                        <th data-field="name" data-sortable="true" searchable="true">{{ "LABEL_NAME"| trans }}</th>
                        <th data-field="email" data-sortable="true" searchable="true">{{ "LABEL_EMAIL"| trans }}</th>
                        <th data-field="date_register" data-sortable="true" searchable="true">{{ "LABEL_REGISTER"| trans }}</th>
                        <th data-field="premium" data-sortable="true" searchable="true" data-formatter="premiumFormatter">{{ "LABEL_PREMIUM"| trans }}</th>
                        <th data-field="country" data-sortable="true" searchable="true">{{ "LABEL_COUNTRY"| trans }}</th>
                        <th data-field="enable" data-sortable="true" data-formatter="enableFormatter" >{{ "LABEL_ENABLED"| trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}"
            type="text/javascript"></script>



    <script>

        function actionFormatter(value, row, index) {
            var t = row.id_group;
            return [
                '<div class="btn-group">',
                '<a class="btn  btn-mini dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-ellipsis-h"></i> </a>',
                '<ul class="dropdown-menu">',
                '<li><a class="edit" href="'+t+'"><i class="fa fa-edit"></i> <span class="bold m-l-5">Editar</span></a></li>',
                '<li><a class="view" href="row.id_group"><i class="fa fa-eye"></i> <span class="bold m-l-5">Visualizar</span></a></li>',
                '</ul>',
                '</div>'
            ].join('');
        }

        function enableFormatter(value) {

            if(value === 'N'){
                return '<i class="fa fa-times text-danger"></i>';
            }else{
                return '<i class="fa fa-check text-success"></i>';
            }

        }

        function premiumFormatter(value) {

            if(value === 'N'){
                return '<i class="fa fa-star-o"></i>';
            }else{
                return '<i class="fa fa-star text-warning"></i>';
            }

        }

        /* window.actionEvents = {
             'click .view': function (e, value, row, index) {
                 Messenger().post("Thanks for checking out Messenger!");
                 alert('You click like icon, row: ' + JSON.stringify(row));
                 console.log(row.id_group);
                 window.location.replace("{{ path_for('administrator.group.list') }}");


            },
            'click .edit': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row));
                console.log(value, row, index);
            }
        };*/


        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-top',
            theme: 'flat'
        }

        $(function () {

            $("#tt").click(function () {
                $(this).button('loading');
            });

            var table = $('#table');
            table.bootstrapTable(
                {
                    locale: '{{ s.get('user_language') }}'
                }
            );
        });




        function ajaxRequest(params) {
            $.ajax({
                type: "POST",
                url: "{{ path_for('app.user.list') }}",
                dataType: "json",
                data: params.data,
                success: function (data) {
                    params.success({
                        "rows": data.users,
                        "total": data.totalfiltered
                    })
                },
                error: function (er) {
                    params.error(er);
                }
            });
        }


    </script>





</script>


{% endblock %}




