{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}"
          rel="stylesheet" type="text/css"/>
    <style>.no-detail-view .detail-icon{display:none;}</style>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "TASK_PERMISSION_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <i class="material-icons">supervisor_account</i>
        <h3>{{ "TASK_PERMISSION_TITLE"| trans }}</h3>
    </div>


    <div class="row-fluid">
        <div class="grid simple ">
            {% include 'partial/index_toolbar_buttons.twig' %}
            <div class="grid-body">
                <table id="table"
                       data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-search-on-enter-key="true"
                       data-show-export="true"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-side-pagination="server"
                       data-sort-name="supervisor_name"
                       data-sort-order="asc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#tb-toolbar"
                       data-detail-view="true"
                       data-detail-formatter="detailFormatter"
                >
                    <thead>
                    <tr>
                        <th data-field="action" data-formatter="getGenericTableButtons" data-events="actionEvents" data-sortable="false" data-width="1"></th>
                        <th data-field="id_supervisor" data-visible="false" data-sortable="false" searchable="true" data-width="1">{{ "LABEL_ID"| trans }}</th>
                        <th data-field="supervisor_name" data-sortable="true" searchable="true">{{ "LABEL_NAME"| trans }}</th>
                        <th data-field="total_permissions" data-sortable="false" searchable="false" data-formatter="totalFormatter">{{ "LABEL_PERMISSIONS"| trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}" type="text/javascript"></script>
    {% include 'partial/index_table_buttons.twig' %}
    <script>
        var permission_types = {
            'D': '{{ "OPTION_TASK_PERMISSION_D"|trans }}',
            'T': '{{ "OPTION_TASK_PERMISSION_T"|trans }}'
        };

        function expandElement(index) {
            $("#link_row_" + index).attr("onclick","collapseElement(" + index + ")");
            $('#table').bootstrapTable('expandRow', index);
        }
        function collapseElement(index) {
            $("#link_row_" + index).attr("onclick","expandElement(" + index + ")");
            $('#table').bootstrapTable('collapseRow', index);
        }

        function totalFormatter(value, row, index) {

            if(value > 1){
                var text = '<span id="link_row_' + index + '" onclick="expandElement(' + index + ');" style="cursor: pointer; text-decoration: underline">' + '{{ "MULTIPLE_PERMISSIONS"|trans }}'.replace('%s', value) + '</span>';
                return text;
            }else{
                if (value == 1) {
                    return row.permissions[0].executor_name + ' (' + permission_types[row.permissions[0].permission_type] + ')';
                }
                return '';
            }

        }

        function detailFormatter(index, row) {
            var html = ['<ul>'];
            for (i = 0; i < row.permissions.length; i++) {
                html.push('<li>'+ row.permissions[i].executor_name + ' (' + permission_types[row.permissions[i].permission_type] + ')'+'</li>');
            }
            html.push('</ul>');
            return html.join('');
        }

        $(function () {

            var table = $('#table');
            table.bootstrapTable(
                {
                    locale: '{{ s.get('user_language') }}'
                }
            );
        });




        function ajaxRequest(params) {
            $.ajax({
                type: "POST",
                url: "{{ path_for('administrator.task.permission.list') }}",
                dataType: "json",
                data: params.data,
                success: function (data) {
                    params.success({
                        "rows": data.permissions,
                        "total": data.total
                    })
                },
                error: function (er) {
                    console.log('É erro?');
                    console.log(er);
                    params.error(er);
                }
            });
        }

        $(document).ready(function () {
            $(".detail").hide();
            $('#table').on('load-success.bs.table', function () {
                $('#table').find('.detail-icon').each(function () {
                    $(this).parent().hide();
                });
            });

        });


    </script>


{% endblock %}




