{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ path_for('asset', {f: 'components/select2/dist/css/select2.min.css'}) }}" rel="stylesheet" type="text/css" />
    <link href="{{ path_for('asset', {f: 'components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css'}) }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="{{ path_for('administrator.task.permission.index') }}">{{ "TASK_PERMISSION_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ supervisor_name }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <a href="{{ path_for('administrator.task.permission.index') }}"> <i class="icon-custom-left"></i></a>
        <h3>{{ "TASK_PERMISSION_TITLE"| trans }} - <span class="semi-bold">{{ supervisor_name }}</span></h3>
    </div>

    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-title page-title">
                <i class="material-icons">people_outline</i> <h3>{{ "TASK_PERMISSION_TITLE"|trans }}</h3>
            </div>
            <div class="grid-body">
                <table id="table"></table>
            </div>
        </div>
    </div>
    {#{% include 'partial/delete_record_modal.twig' %}#}

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/i18n/pt-BR.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js'}) }}" type="text/javascript"></script>
    <script>

        function getParams(params) {
            params['id_supervisor'] = "{{ id_supervisor }}";
            return params;
        }

        function ajaxRequest(params) {
            $.ajax({
                type: "POST",
                url: "{{ path_for('administrator.task.permission.user.list') }}",
                dataType: "json",
                data: params.data,
                success: function (data) {
                    params.success({
                        "rows": data.permissions,
                        "total": data.total
                    })
                },
                error: function (requestObject, error, errorThrown) {
                    console.log('É erro?');
                    console.log(requestObject);
                    console.log(error);
                    console.log(errorThrown);
                    window.location.href =
                    params.error(requestObject);
                }
            });
        }

        $(document).ready(function () {
            $('#table').bootstrapTable({
                idField: 'id_executor',
                locale: '{{ s.get('user_language') }}',
                striped: true,
                search: true,
                searchOnEnterKey: true,
                showExport: true,
                exportTypes: ['excel'],
                pagination: true,
                ajax: ajaxRequest,
                queryParams: getParams,
                sidePagination: "server",
                sortName: "executor_name",
                sortOrder: "asc",
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                filterControl: true,
                toolbar: "#tb-toolbar",
                columns: [{
                    field: "id_executor",
                    visible: false,
                    sortable: false,
                    searchable: false,
                    title: "{{ "LABEL_ID"| trans }}"
                }, {
                    field: "executor_name",
                    sortable: true,
                    searchable: true,
                    title: "{{ "LABEL_NAME"| trans }}"
                }, {
                    field: "task_permission_type",
                    sortable: false,
                    searchable: false,
                    title: "{{ "LABEL_PERMISSION_TYPE"| trans }}",
                    editable: {
                        type: "select",
                        source: [
                            {value: "N", text: "{{ "OPTION_TASK_PERMISSION_NONE"|trans }}"},
                            {value: "D", text: "{{ "OPTION_TASK_PERMISSION_D"|trans }}"},
                            {value: "T", text: "{{ "OPTION_TASK_PERMISSION_T"|trans }}"}
                        ],
                        params: function(params) {
                            return {
                                id_supervisor: {{ id_supervisor }},
                                id_executor: params.pk,
                                task_permission_type: params.value
                            }
                        },
                        url: "{{ path_for('administrator.task.permission.update') }}",
                        success: function(response, newValue) {
                            if (typeof response === 'string') {
                                response = JSON.parse(response);
                            }
                            if(response.error) {
                                return response.messages.join("");
                            } //msg will be shown in editable form
                        },
                    }
                }]
            });
        });
    </script>


{% endblock %}




