{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}"
          rel="stylesheet" type="text/css"/>


{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="{{ path_for('home') }}" class="active">{{ "GROUP_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <i class="icon-custom-thumb"></i>
        <h3>{{ "GROUP_LIST"| trans }} - <span class="semi-bold">{{ "HEADER_LIST"| trans }}</span></h3>
    </div>

    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-body">
                <table id="table"
                       data-classes="table table-hover table-condensed"
                       data-striped="true"
                       data-search="true"
                       data-search-on-enter-key="true"
                       data-toolbar="#toolbar"
                       data-show-export="true"
                       data-export-types="['excel']" ,
                       data-pagination="true" ,
                       data-query-params="queryParams">
                    <thead>
                    <tr>
                        <th class="col-md-1" data-field="action" data-formatter="actionFormatter"
                            data-events="actionEvents" data-sortable="false"></th>
                        <th data-field="id_group" data-sortable="true">ID</th>
                        <th data-field="title" data-sortable="true">Nome</th>
                        <th data-field="enable" data-sortable="true">Habilitado</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}"
            type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}"
            type="text/javascript"></script>
    <script>


        function actionFormatter(value, row, index) {
            return [
                '<div class="btn-group">',
                '<a class="btn  btn-mini dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-ellipsis-h"></i> </a>',
                '<ul class="dropdown-menu">',
                '<li><a class="edit" href="javascript:void(0)"><i class="fa fa-edit"></i> <span class="bold m-l-5">Editar</span></a></li>',
                '<li><a class="view" href="javascript:void(0)"><i class="fa fa-eye"></i> <span class="bold m-l-5">Visualizar</span></a></li>',
                '</ul>',
                '</div>'
            ].join('');
        }

        window.actionEvents = {
            'click .view': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row));
                console.log(value, row, index);
            },
            'click .edit': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row));
                console.log(value, row, index);
            }
        };

        function queryParams() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'asc',
                per_page: 100,
                page: 1
            };
        }


        $(function () {
            var table = $('#table');
            table.bootstrapTable(
                {
                    locale: '{{ s.get('user_language') }}',
                    data: {{ data_table|json_encode|raw }}

                }
            );
        });



    </script>


{% endblock %}




