<div id="div_task_info">
    {% if type == 'new' %}
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label">{{ "LABEL_EXECUTOR"|trans }}</label>
            {{ h.field(form, 'id_executor')|raw }}
            {{ h.showFieldErrors(form, 'id_executor')|raw }}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label">{{ "LABEL_OPERATOR"|trans }}</label>
            {{ h.field(form, 'id_operator')|raw }}
            {{ h.showFieldErrors(form, 'id_operator')|raw }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label">{{ "LABEL_NAME"|trans }}</label>
            {{ h.field(form, 'name')|raw }}
            {{ h.showFieldErrors(form, 'name')|raw }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label">{{ "LABEL_DESCRIPTION"|trans }}</label>
            {{ h.field(form, 'description')|raw }}
            {{ h.showFieldErrors(form, 'description')|raw }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-{% if type == 'new' %}4{% else %}6{% endif %}">
            <label class="form-label">{{ "LABEL_TASK_INITIAL_DATE"|trans }}</label>
            <div class='input-group date' id='dtp_initial_date'>
                {{ h.field(form, 'task_initial_date')|raw }}
                {{ h.showFieldErrors(form, 'task_initial_date')|raw }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-{% if type == 'new' %}4{% else %}6{% endif %}">
            <label class="form-label">{{ "LABEL_TASK_FINAL_DATE"|trans }}</label>
            <div class='input-group date' id='dtp_final_date'>
                {{ h.field(form, 'task_final_date')|raw }}
                {{ h.showFieldErrors(form, 'task_final_date')|raw }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
{% if type == 'new' %}
<input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
<input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
<div class="row">
    <div class="col-md-12">
        <button id="btn-animate-icon" class="btn btn-primary btn-cons pull-right" type="submit">{{ "BTN_SAVE"|trans }}</button>
    </div>
</div>
{% endif %}