{% extends "layout/dashboard.twig" %}

{% block css %}

{% endblock %}

{% block content %}
<h4>{{ "OPEN_TASKS_TITLE"|trans }}</h4>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple no-border">
            <div class="grid-title no-border descriptive clickable">
                <h4 class="semi-bold">Too many down times</h4>
                <p ><span class="text-success bold">Ticket #456</span> - Created on 10/29/13 at 06:33 - Last reply About 1 Month ago by alex&nbsp;&nbsp;<span class="label label-important">ALERT</span></p>
                <div class="actions"> <a class="view" href="javascript:;"><i class="fa fa-search"></i></a> <a class="remove" href="javascript:;"><i class="fa fa-times"></i></a> </div>
            </div>
            <div class="grid-body  no-border" style="display:none">
                <div class="post">
                    <div class="user-profile-pic-wrapper">
                        <div class="user-profile-pic-normal"> <img width="35" height="35" data-src-retina="assets/img/profiles/avatar_small2x.jpg" data-src="assets/img/profiles/avatar_small.jpg" src="assets/img/profiles/avatar_small.jpg" alt=""> </div>
                    </div>
                    <div class="info-wrapper">
                        <div class="info"> Hi I have installed agent to monitor the usage of the droplet done via Anturis <br>
                            and lately there was a lot of down time. One that caught my eye was this <br>
                            Incident report<br>
                            <br>
                            New Critical Incident started at 13:10 MST on Monday, October 28 <br>
                            Critical Incident started at 13:10 MST on Monday, October 28 with ace has ended at 13:51 MST on Monday, October 28.<br>
                            <br>
                            Incident duration was 41 minutes.<br>
                            <br>
                            The server did not respond for 41 minutes.As you see 41 minutes is a big deal for us as we are going to lose alot of revenue we need you guys to check if these records are correct and if so why and will this happen again? or do we need to purchase some sort of cluster ? this is a very critical situation <br>
                            <br>
                            Waiting for your reply </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br>
                <div class="form-actions">
                    <div class="post col-md-12">
                        <div class="user-profile-pic-wrapper">
                            <div class="user-profile-pic-normal"> <img width="35" height="35" data-src-retina="assets/img/profiles/c2x.jpg" data-src="assets/img/profiles/c.jpg" src="assets/img/profiles/c.jpg" alt=""> </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info"> Hi,<br>
                                <br>
                                Thank you for reaching us, We are looking into this issue and will update you.<br>
                                <br>
                                Alex<br>
                                <hr>
                                <p class="small-text">Posted on 10/29/13 at 07:21</p>
                            </div>
                            <div class="form-group">
                                <label class="form-label"><i class="fa fa-reply"></i>&nbsp;Post a reply</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}