{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}" rel="stylesheet" type="text/css"/>
    <style>.no-detail-view .detail-icon{display:none;}</style>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="" class="active">{{ "TASK_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <i class="material-icons">assignment</i>
        <h3>{{ "TASK_TITLE"| trans }}</h3>
    </div>


    <div class="row-fluid">
        <div class="grid simple ">
            {% include 'partial/index_toolbar_buttons.twig' %}
            <div class="grid-body">
                <table id="table"
                       data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-search-on-enter-key="true"
                       data-show-export="true"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-side-pagination="server"
                       data-sort-name="task_priority"
                       data-sort-order="asc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#tb-toolbar"
                       data-detail-view="true"
                       data-detail-formatter="detailFormatter"
                >
                    <thead>
                    <tr>
                        <th data-field="action" data-formatter="taskListTableButtons" data-events="actionEvents" data-sortable="false" data-width="1"></th>
                        <th data-field="id_task" data-sortable="false" data-visible="false" data-width="1">{{ "LABEL_ID"| trans }}</th>
                        <th data-field="task_interval_status" data-sortable="false" data-formatter="intervalStatusFormatter"></th>
                        <th data-field="name" data-sortable="false" searchable="true">{{ "LABEL_NAME"| trans }}</th>
                        <th data-field="description" data-sortable="false" searchable="true">{{ "LABEL_DESCRIPTION"| trans }}</th>
                        <th data-field="executor" data-sortable="false" searchable="false">{{ "LABEL_EXECUTOR"| trans }}</th>
                        <th data-field="operator" data-sortable="false" searchable="false">{{ "LABEL_OPERATOR"| trans }}</th>
                        <th data-field="task_initial_date" data-sortable="false" data-formatter="dateFormatter">{{ "LABEL_TASK_INITIAL_DATE"| trans }}</th>
                        <th data-field="task_final_date" data-sortable="false" data-formatter="dateFormatter">{{ "LABEL_TASK_FINAL_DATE"| trans }}</th>
                        <th data-field="task_status" data-sortable="false" data-formatter="statusFormatter">{{ "LABEL_TASK_STATUS"| trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/moment/min/moment.min.js'}) }}" type="text/javascript"></script>
    {% include 'partial/index_table_buttons.twig' %}
    <script>
        function taskListTableButtons(value, row, index) {
            var buttons = '';
            // if (row.last_progress_description) {
            //     buttons = '<i id="expand_' + index + '" class="fa fa-search-plus" onclick="expandElement(' + index + ')" style="cursor: pointer"></i><i id="collapse_' + index + '" class="fa fa-search-minus" onclick="collapseElement(' + index + ')" style="cursor: pointer; display: none"></i>&nbsp;';
            // }
            buttons += getGenericTableButtons(value, row, index);
            return buttons;
        }

        function dateFormatter(value) {
            return moment(value, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm');
        }

        // function expandElement(index) {
        //     $("#expand_" + index).hide();
        //     $("#collapse_" + index).show();
        //     $('#table').bootstrapTable('expandRow', index);
        // }
        // function collapseElement(index) {
        //     $("#collapse_" + index).hide();
        //     $("#expand_" + index).show();
        //     $('#table').bootstrapTable('collapseRow', index);
        // }

        function intervalStatusFormatter(value) {
            var statuses = {
                {% for s in h.listOptionsTaskIntervalStatus() %}
                "{{ s.translation_key }}": {
                    "status": "{{ s.translation_key|trans }}",
                    "class": "{{ s.class }}"
                }{% if not loop.past %}, {% endif %}
                {% endfor %}
            };
            return '<span class="' + statuses[value]['class'] + '">' + statuses[value]['status'] + '</span>';
        }

        function statusFormatter(value) {
            var statuses = {
                {% for key, s in h.listOptionsTaskStatus() %}
                "{{ key }}": "{{ s }}"{% if not loop.past %}, {% endif %}
                {% endfor %}
            };
            return statuses[value];
        }

        $(function () {

            var table = $('#table');
            table.bootstrapTable(
                {
                    locale: '{{ s.get('user_language') }}'
                }
            );
        });


        function ajaxRequest(params) {
            $.ajax({
                type: "POST",
                url: "{{ path_for('task.list') }}",
                dataType: "json",
                data: params.data,
                success: function (data) {
                    params.success({
                        "rows": data.tasks,
                        "total": data.total
                    })
                },
                error: function (er) {
                    params.error(er);
                }
            });
        }

        function detailFormatter(index, row, $detail) {
            var html = '';
            if (row.last_progress_description) {
                html = '{{ "TASK_TABLE_LAST_PROGRESS"|trans|raw }}';
                html = html.replace('[:last_progress_user:]', row.last_progress_user);
                html = html.replace('[:last_progress_date:]', moment(row.last_progress_date, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm'));
                html += row.last_progress_description;
            }
            else {
                html = '{{ "TASK_TABLE_NO_PROGRESS"|trans|raw }}';
            }
            $detail.html(html);
        }

        $(document).ready(function () {
            // $(".detail").hide();
            // $('#table').on('load-success.bs.table', function () {
            //     $('#table').find('.detail-icon').each(function () {
            //         $(this).parent().hide();
            //     });
            // });

        });


    </script>


{% endblock %}




