{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/select2/dist/css/select2.min.css'}) }}" rel="stylesheet" type="text/css" />
    <link href="{{ path_for('asset', {f: 'components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css'}) }}" rel="stylesheet" type="text/css" />
    <link href="{{ path_for('asset', {f: 'components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'}) }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>{{ "BREADCRUMB_HERE"| trans }}</p></li>
        <li><a href="{{ path_for('task.index') }}">{{ "TASK_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "TITLE_ADD"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <a href="{{ path_for('task.index') }}"> <i class="icon-custom-left"></i></a>
        <h3>{{ "TASK_TITLE"| trans }} - <span class="semi-bold">{{ "TITLE_ADD"| trans }}</span></h3>
    </div>

    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-title border">
                <h4><i class="fa fa-plus-circle icon-2x"></i> {{ "TITLE_ADD_TASK"| trans }} </h4>
            </div>
            <div class="grid-body">
                <form action="{{ path_for('task.insert') }}" method="post" class="form validate">
                    {% include 'view/task/form.twig' with {'type': 'new'} %}
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/i18n/pt-BR.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/moment/min/moment.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/moment/locale/pt-br.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'}) }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#id_executor').select2({
                language: "pt-BR",
                placeholder: "{{ "OPTION_SELECT"|trans }}",
                allowClear: true
            });
            $('#description').wysihtml5();
            $('#dtp_initial_date').datetimepicker({
                locale: 'pt-br',
                defaultDate: "{{ "now"|date('Y-m-d H:i') }}",
                sideBySide: true,
                ignoreReadonly: true
            });
            $('#dtp_final_date').datetimepicker({
                locale: 'pt-br',
                defaultDate: "{{ "now"|date_modify("+1 day")|date('Y-m-d H:i') }}",
                sideBySide: true,
                ignoreReadonly: true
            });
        });




    </script>

{% endblock %}




