{% extends "layout/dashboard.twig" %}

{% block css %}
<link href="{{ path_for('asset', {f: 'components/select2/dist/css/select2.min.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'}) }}" rel="stylesheet" type="text/css" />
{% include 'partial/floating_button_css.twig' %}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>{{ "BREADCRUMB_HERE"| trans }}</p></li>
        <li><a href="{{ path_for('task.index') }}">{{ "TASK_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "TITLE_VIEW"| trans }}</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title border">
                <h4><i class="fa fa-tasks icon-2x"></i> {{ "TASK_SECTION"| trans }} </h4>
            </div>
            <div class="grid-body">
                <div class="{{ task.task_interval_status.class }}" style="border-radius: 6px; padding: 11px 12px!important;"><strong>{{ task.task_interval_status.code|trans }}</strong></div><br/>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_NAME"|trans }}</span>
                            <h4 class="media-heading">{{ task.name }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_OPERATOR"|trans }}</span>
                            <h4 class="media-heading">{{ task.operator }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_EXECUTOR"|trans }}</span>
                            <h4 class="media-heading">{{ task.executor }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_REGISTER_DATE"|trans }}</span>
                            <h4 class="media-heading">{{ task.register_date|date('d/m/Y H:i:s') }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_TASK_TIME_INTERVAL"|trans }}</span>
                            <h4 class="media-heading">{{ "TASK_INTERVAL_TEXT"|trans|format(task.task_initial_date|date('d/m/Y H:i'), task.task_final_date|date('d/m/Y H:i'))|raw }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_TASK_STATUS"|trans }}</span>
                            <h4 class="media-heading">{{ h.listOptionsTaskStatus()[task.task_status] }}</h4>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-body">
                            <span class="muted">{{ "LABEL_DESCRIPTION"|trans }}</span>
                            <h4 class="media-heading">{{ task.description|raw }}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'partial/floating_buttons.twig' %}
<div class="row">
    <div class="col-md-12 col-vlg-10">
        <ul class="cbp_tmtimeline">
            {% for p in task.progress %}
                <li>
                    <time class="cbp_tmtime" datetime="{{ p.progress_date|date('Y-m-d H:i') }}">
                        <span class="date">{{ p.progress_date|date('d/m/Y') }}</span>
                        <span class="time">{{ p.progress_date|date('H:i') }}</span>
                    </time>
                    <div class="cbp_tmicon animated bounceIn">
                        <div class="user-profile"> <img src="{{ p.user_photo }}" width="35" height="35" alt=""> </div>
                    </div>
                    <div class="cbp_tmlabel">
                        <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                            <h4 class="inline m-b-5"><span class="text-success semi-bold">{{ p.user_name }}</span> </h4>
                            <p class="m-t-5 dark-text">
                                {{ p.progress_description|raw }}
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <form id="modal-form" action="{{ path_for('task.progress.insert') }}" method="post" class="form validate">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="grid simple ">
                            <div class="grid-title border">
                                <h4 id="modal-title"></h4>
                            </div>
                            <div class="grid-body">
                                {{ h.field(form_progress, 'id_task')|raw }}
                                {{ h.field(form_progress, 'id_current_executor')|raw }}
                                <div id="div_executor" class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-label">{{ "LABEL_EXECUTOR"|trans }}</label>
                                        {{ h.field(form_progress, 'id_executor')|raw }}
                                        {{ h.showFieldErrors(form_progress, 'id_executor')|raw }}
                                    </div>
                                </div>
                                <div id="div_progress" class="row">
                                    <div class="form-group col-md-12">
                                        <label class="form-label">{{ "LABEL_TASK_PROGRESS"|trans }}</label>
                                        {{ h.field(form_progress, 'task_progress')|raw }}
                                        {{ h.showFieldErrors(form_progress, 'task_progress')|raw }}
                                    </div>
                                </div>
                                <div id="div_task">
                                {% include 'view/task/form.twig' with {'type': 'edit', 'form': form_task} %}
                                </div>
                                <div id="div_reopen_task_dates">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ "LABEL_TASK_INITIAL_DATE"|trans }}</label>
                                            <div class='input-group date' id='dtp_reopen_initial_date'>
                                                {{ h.field(form_progress, 'task_reopen_initial_date')|raw }}
                                                {{ h.showFieldErrors(form_progress, 'task_reopen_initial_date')|raw }}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ "LABEL_TASK_FINAL_DATE"|trans }}</label>
                                            <div class='input-group date' id='dtp_reopen_final_date'>
                                                {{ h.field(form_progress, 'task_reopen_final_date')|raw }}
                                                {{ h.showFieldErrors(form_progress, 'task_reopen_final_date')|raw }}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSuccess" class="btn btn-primary">{{ "BTN_ADD"|trans }}</button>
                    <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">{{ "BTN_CANCEL"|trans }}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
<script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/select2/dist/js/i18n/pt-BR.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/moment/min/moment.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/moment/locale/pt-br.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'}) }}" type="text/javascript"></script>
<script>
    function setFormType(type) {
        if (type == 'reopen_task') {
            $("#div_progress").show();
            $("#div_executor").hide();
            $("#div_task").show();
            $("#div_task_info").hide();
            $("#div_reopen_task_dates").show();
            $("#modal-form").attr('action', "{{ path_for('task.reopen') }}");
            $("#modal-title").html('<i class="fa fa-reply icon-2x"></i> {{ "TITLE_REOPEN_TASK"| trans }}');
            $("#btnSuccess").html('{{ "BTN_REOPEN"|trans }}');
            //Reabrir tarefa
        }
        else if(type == 'transfer_task') {
            //Transferir Tarefa
            $("#div_progress").show();
            $("#div_executor").show();
            $("#div_task").hide();
            $("#div_reopen_task_dates").hide();
            $("#modal-form").attr('action', "{{ path_for('task.transfer') }}");
            $("#modal-title").html('<i class="fa fa-exchange icon-2x"></i> {{ "TITLE_TRANSFER_TASK"| trans }}');
            $("#btnSuccess").html('{{ "BTN_TRANSFER"|trans }}');
        }
        else if(type == 'end_task' || type == 'wait_task') {
            //Encerrar Tarefa || Aguardar Ciente
            $("#div_progress").show();
            $("#div_executor").hide();
            $("#div_task").hide();
            if (type == 'end_task') {
                $("#modal-title").html('<i class="fa fa-handshake-o icon-2x"></i> {{ "TITLE_FINISH_TASK"| trans }}');
                $("#btnSuccess").html('{{ "BTN_FINISH"|trans }}');
            }
            else {
                $("#modal-title").html('<i class="fa fa-handshake-o icon-2x"></i> {{ "TITLE_WAIT_TASK"| trans }}');
                $("#btnSuccess").html('{{ "BTN_WAIT_TASK"|trans|raw }}');
            }
            $("#div_reopen_task_dates").hide();
            $("#modal-form").attr('action', "{{ path_for('task.finish') }}");

        }
        else if(type == 'edit_task') {
            //Editar Tarefa
            $("#div_progress").hide();
            $("#div_executor").hide();
            $("#div_task").show();
            $("#div_task_info").show();
            $("#div_reopen_task_dates").hide();
            $("#modal-form").attr('action', "{{ path_for('task.update') }}");
            $("#modal-title").html('<i class="fa fa-edit icon-2x"></i> {{ "TITLE_EDIT_TASK"| trans }}');
            $("#btnSuccess").html('{{ "BTN_UPDATE"|trans }}');
        }
        else {
            //Inserir Andamento
            $("#div_progress").show();
            $("#div_executor").hide();
            $("#div_task").hide();
            $("#div_reopen_task_dates").hide();
            $("#modal-form").attr('action', "{{ path_for('task.progress.insert') }}");
            $("#modal-title").html('<i class="fa fa-plus icon-2x"></i> {{ "TITLE_ADD_TASK_PROGRESS"| trans }}');
            $("#btnSuccess").html('{{ "BTN_ADD"|trans }}')
        }
    }
    function showForm(type) {
        setFormType(type);
        $("#modal").modal('show');
        $(".tooltip").hide();
    }

    $(document).ready(function () {
        $('#task_progress').wysihtml5();
        $('#id_operator').select2({
            language: "pt-BR",
            placeholder: "{{ "OPTION_SELECT"|trans }}"
        });
        $('#description').wysihtml5();
        $('#dtp_initial_date').datetimepicker({
            locale: 'pt-br',
            sideBySide: true,
            ignoreReadonly: true
        });
        $('#dtp_final_date').datetimepicker({
            locale: 'pt-br',
            sideBySide: true,
            ignoreReadonly: true
        });
        $('#dtp_reopen_initial_date').datetimepicker({
            locale: 'pt-br',
            sideBySide: true,
            ignoreReadonly: true
        });
        $('#dtp_reopen_final_date').datetimepicker({
            locale: 'pt-br',
            sideBySide: true,
            ignoreReadonly: true
        });
        $('#id_executor').select2({
            language: "pt-BR",
            placeholder: "{{ "OPTION_SELECT"|trans }}"
        });
        {% if form_type %}
        showForm('{{ form_type }}');
        {% endif %}
    });
</script>
{% endblock %}