<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_NAME"|trans }}</label>
        {{ h.field(form, 'fname')|raw }}
        {{ h.showFieldErrors(form, 'fname')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_LAST_NAME"|trans }}</label>
        {{ h.field(form, 'lname')|raw }}
        {{ h.showFieldErrors(form, 'lname')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_OCCUPATION"|trans }}</label>
        {{ h.field(form, 'occupation')|raw }}
        {{ h.showFieldErrors(form, 'occupation')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_EMAIL"|trans }}</label>
        {{ h.field(form, 'email')|raw }}
        {{ h.showFieldErrors(form, 'email')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_GROUP"|trans }}</label>
        {{ h.field(form, 'id_group')|raw }}
        {{ h.showFieldErrors(form, 'id_group')|raw }}
    </div>
</div>
{% if type == 'new' %}
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_PASSWORD"|trans }}</label>
        {{ h.field(form, 'password')|raw }}
        {{ h.showFieldErrors(form, 'password')|raw }}
        {{ h.field(form, 'password_random')|raw }}<span id="span_password_random" class="span-clickable">{{"LABEL_RANDOM_PASSWORD" | trans}}</span>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_ENABLED"|trans }}</label>
        {{ h.field(form, 'enable')|raw }}
        {{ h.showFieldErrors(form, 'enable')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_LANGUAGE"|trans }}</label>
        {{ h.field(form, 'language')|raw }}
        {{ h.showFieldErrors(form, 'language')|raw }}
    </div>
</div>
<input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
<input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">