{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.css'}) }}"
          rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "USER_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <i class="material-icons">people_outline</i>
        <h3>{{ "USER_TITLE"| trans }}</h3>
    </div>


    <div class="row-fluid">
        <div class="grid simple ">
            {% include 'partial/index_toolbar_buttons.twig' %}
            <div class="grid-body">
                <table data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-search-on-enter-key="true"
                       data-show-export="true"
                       data-export-types="['excel']"
                       data-pagination="true"
                       data-ajax="ajaxRequest"
                       data-side-pagination="server"
                       data-sort-name="id_user"
                       data-sort-order="desc"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#tb-toolbar"
                >
                    <thead>
                    <tr>
                        <th data-field="action" data-formatter="getGenericTableButtons" data-events="actionEvents" data-sortable="false" data-width="1"></th>
                        <th data-field="id_user" data-sortable="true" searchable="true" data-width="1">{{ "LABEL_ID"| trans }}</th>
                        <th data-field="name" data-sortable="true" searchable="true">{{ "LABEL_NAME"| trans }}</th>
                        <th data-field="email" data-sortable="true" searchable="true">{{ "LABEL_EMAIL"| trans }}</th>
                        <th data-field="group_name" data-sortable="true" searchable="false">{{ "LABEL_GROUP"| trans }}</th>
                        <th data-field="enable" data-sortable="true" data-formatter="enableFormatter">{{ "LABEL_ENABLED"| trans }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/bootstrap-table.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/tableExport.jquery.plugin/tableExport.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js'}) }}" type="text/javascript"></script>
    {% include 'partial/index_table_buttons.twig' %}
    <script>

        function enableFormatter(value) {

            if(value === 'N'){
                return '<i class="fa fa-times text-danger"></i>';
            }else{
                return '<i class="fa fa-check text-success"></i>';
            }

        }

        $(function () {

            var table = $('#table');
            table.bootstrapTable(
                {
                    locale: '{{ s.get('user_language') }}'
                }
            );
        });




        function ajaxRequest(params) {
            $.ajax({
                type: "POST",
                url: "{{ path_for('administrator.user.list') }}",
                dataType: "json",
                data: params.data,
                success: function (data) {
                    params.success({
                        "rows": data.users,
                        "total": data.total
                    })
                },
                error: function (er) {
                    console.log('É erro?');
                    console.log(er);
                    params.error(er);
                }
            });
        }


    </script>


{% endblock %}




