{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/select2/dist/css/select2.min.css'}) }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>{{ "BREADCRUMB_HERE"| trans }}</p></li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="{{ path_for('administrator.user.index') }}">{{ "USER_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "TITLE_ADD"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <a href="{{ path_for('administrator.user.index') }}"> <i class="icon-custom-left"></i></a>
        <h3>{{ "USER_TITLE"| trans }} - <span class="semi-bold">{{ "TITLE_ADD"| trans }}</span></h3>
    </div>

    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-title border">
                <h4><i class="fa fa-plus-circle icon-2x"></i> {{ "TITLE_ADD_USER"| trans }} </h4>
            </div>
            <div class="grid-body">
                <form action="{{ path_for('administrator.user.insert') }}" method="post" class="form validate" >
                    {% include 'view/administrator/user/form.twig' with {'type': 'new'} %}
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btn-animate-icon" class="btn btn-primary btn-cons pull-right" type="submit">{{ "BTN_SAVE"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/i18n/pt-BR.js'}) }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#enable').select2({
                language: "pt-BR",
                placeholder: "{{ "OPTION_SELECT"|trans }}",
                allowClear: true
            });
            $('#language').select2({
                language: "pt-BR",
                placeholder: "{{ "OPTION_SELECT"|trans }}",
                allowClear: true
            });
            $('#id_group').select2({
                language: "pt-BR",
                placeholder: "{{ "OPTION_SELECT"|trans }}",
                allowClear: true
            });

            $("#password_random").change(function () {
                var checked = document.getElementById('password_random').checked;
                $("#password").prop('disabled', checked);
            });
            $("#span_password_random").click(function() {
                $("#password_random").prop('checked',
                    function(i, oldVal) { return !oldVal; });
                $("#password_random").trigger('change');
            });

            $("#password_random").trigger('change');
        });




    </script>

{% endblock %}




