<div class="header navbar navbar-inverse">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav pull-left notifcation-center visible-xs visible-sm">
                <li class="dropdown">
                    <a href="#main-menu" data-webarch="toggle-left-side">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
            </ul>
            <!-- BEGIN LOGO -->
            <a href="{{ path_for('index') }}">
                <img src="{{ path_for('asset', {f: 'img/logo.png'}) }}" class="logo" alt="" data-src="{{ path_for('asset', {f: 'img/logo.png'}) }}" data-src-retina="{{ path_for('asset', {f: 'img/logo2x.png'}) }}" width="106" height="21" />
            </a>
            <!-- END LOGO -->
            <ul class="nav pull-right notifcation-center">
                <li class="dropdown hidden-xs hidden-sm">
                    <a href="{{ path_for('home') }}" class="dropdown-toggle active" data-toggle="">
                        <i class="material-icons">home</i>
                    </a>
                </li>
                <li class="dropdown visible-sm visible-xs">
                    <a href="{{ path_for('logout') }}" class="dropdown-toggle active" data-toggle="">
                        <i class="material-icons">power_settings_new</i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="pull-left">
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="#" class="" id="layout-condensed-toggle">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a href="#" class="" id="my-task-list" data-placement="bottom" data-content='' data-toggle="dropdown" data-original-title="{{"HEADER_NOTIFICATIONS" | trans}}">
                            <i class="material-icons">notifications_none</i>
                            <span class="badge badge-important bubble-only"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="notification-list" style="display:none">
                <div style="width:300px">
                    <div class="notification-messages info">
                        <div class="user-profile">
                            <img src="{{ path_for('asset', {f: 'img/example/d.jpg'}) }}" alt="" width="35" height="35">
                        </div>
                        <div class="message-wrapper">
                            <div class="heading">
                                David Nester - Commented on your wall
                            </div>
                            <div class="description">
                                Meeting postponed to tomorrow
                            </div>
                            <div class="date pull-left">
                                A min ago
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- END TOP NAVIGATION MENU -->
            <!-- BEGIN CHAT TOGGLER -->
            <div class="pull-right">
                <div class="chat-toggler sm">
                    <div class="profile-pic">
                        <img src="{{ s.get('cerebelo').user_profile.photo }}" alt="" width="35" height="35" />
                        <div class="availability-bubble online"></div>
                    </div>
                </div>
                <ul class="nav quick-section ">
                    <li class="quicklinks">
                        <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                            <i class="material-icons">tune</i>
                        </a>
                        <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                            <li>
                                <a href="{{ path_for('account.profile') }}"> <i class="material-icons">perm_identity</i> <span class="m-l-5">{{"HEADER_MY_ACCOUNT"|trans}}</span> </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="material-icons">lock_outline</i> <span class="m-l-5">{{"HEADER_ADMINISTRATOR_FUNCTIONS"|trans}}</span> </a>
                            </li>
                            <li>
                                <a href="{{ path_for('logout') }}"><i class="material-icons">power_settings_new</i> <span class="m-l-5">{{"HEADER_EXIT"|trans}}</span> </a>
                            </li>
                        </ul>
                    </li>
                    <!-- BEGIN CHAT TOGGLER MENU -->
                    <!-- END CHAT TOGGLER MENU -->
                </ul>
            </div>
            <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>