<li class="">
    <a href="{% if menu['route'] %}{{ path_for(menu['route']) }}{% elseif menu['children'] %}javascript:;{% else %}#{% endif %}">{% if menu['icon'] %}<i class="material-icons">{{ menu['icon'] }}</i> {% endif %}<span class="title">{{ menu['name']|trans }}</span>{% if menu['notifications'] %}{% if menu['notifications']|length > 1 %}<br/>{% endif %}{% for n in menu['notifications'] %}<span class="{{ n['class'] }}">{{ n['value'] }}</span>{% endfor %}{% endif %}{% if menu['children'] %}<span class="arrow"></span>{% endif %}</a>
    {% if menu['children'] %}
    <ul class="sub-menu">
        {% for c in menu['children'] %}
            {% include 'partial/dashboard/menu_item.twig' with {'menu': c} %}
        {% endfor %}
    </ul>
    {% endif %}
</li>