<div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
                <img src="{{ s.get('cerebelo').user_profile.photo }}" alt="" data-src="{{ s.get('cerebelo').user_profile.photo }}" width="69" />
                <div class="availability-bubble online"></div>
            </div>
            <div class="user-info sm">
                <div class="username">{{ s.get('cerebelo').user_profile.fname }}</div>
                <div class="status">{{ s.get('cerebelo').user_profile.occupation }}</div>
            </div>
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title sm">{{"SIDE_BAR_BROWNSER"|trans}}</p>
        <ul>
            {% for m in h.getMenu() %}
                {% include 'partial/dashboard/menu_item.twig' with {'menu': m} %}
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<a href="#" class="scrollup">Scroll</a>
<div class="footer-widget">
    <div class="progress transparent progress-small no-radius no-margin">
        <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="100%" style="width: 100%;"></div>
    </div>
    <div class="pull-right">
        <a href="{{ path_for('logout') }}"><i class="material-icons">power_settings_new</i></a></div>
</div>