{% extends "layout/dashboard.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{"BREADCRUMB_HERE"| trans}}</p>
        </li>
        <li><a href="{{ path_for('home') }}" class="active">{{"HOME_TITLE"| trans}}</a></li>
    </ul>
{% endblock %}

{% block content %}


   {# <div class="row col-md-10">

        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center">
                <div class="text-center">
                    <i class="material-icons">perm_identity</i>
                </div>
                <div class="text-white text-center">
                    <span class="semi-bold">{{ "HOME_WIDGET_USER_TITLE"|trans }}</span>
                </div>
                <div class="text-white text-center hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_USER_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center">
                <div class="text-center">
                    <i class="material-icons">dashboard</i>
                </div>
                <div class="text-white">
                    <span class="semi-bold">{{ "HOME_WIDGET_DASHBOARD_TITLE"|trans }}</span>
                </div>
                <div class="text-white hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_DASHBOARD_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center">
                <div class="text-center">
                    <i class="material-icons">class</i>
                </div>
                <div class="text-white">
                    <span class="semi-bold">{{ "HOME_WIDGET_COURSE_TITLE"|trans }}</span>
                </div>
                <div class="text-white hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_COURSE_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center">
                <div class="text-center">
                    <i class="material-icons">question_answer</i>
                </div>
                <div class="text-white">
                    <span class="semi-bold">{{ "HOME_WIDGET_QUESTION_TITLE"|trans }}</span>
                </div>
                <div class="text-white hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_QUESTION_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center">
                <div class="text-center">
                    <i class="material-icons">today</i>
                </div>
                <div class="text-white">
                    <span class="semi-bold">{{ "HOME_WIDGET_PERIODIC_QUESTION_TITLE"|trans }}</span>
                </div>
                <div class="text-white hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_PERIODIC_QUESTION_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <btn class="btn btn-primary text-center big-icon">
                <div class="text-center">
                    <i class="material-icons">lock_outline</i>
                </div>
                <div class="text-white">
                    <span class="semi-bold">{{ "HOME_WIDGET_ADMINISTRATOR_TITLE"|trans }}</span>
                </div>
                <div class="text-white hidden-xs">
                    <span class="semi-bold">{{ "HOME_WIDGET_ADMINISTRATOR_DESCRIPTION"|trans }}</span>
                </div>
            </btn>
        </div>
    </div>#}


    <div class="row row-fluid m-t-20">
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">perm_identity</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_USER_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_USER_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">dashboard</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_DASHBOARD_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_DASHBOARD_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">class</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_COURSE_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_COURSE_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">question_answer</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_QUESTION_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_QUESTION_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">today</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_PERIODIC_QUESTION_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_PERIODIC_QUESTION_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xs-6 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center thumbnail">
                    <i class="material-icons fa-5x">lock_outline</i>
                    <h4>
                        <span class="semi-bold text-white">{{ "HOME_WIDGET_ADMINISTRATOR_TITLE"|trans }}</span>
                    </h4>
                    <h5 class="hidden-xs">
                        <span class="semi-bold text-white hidden-xs">{{ "HOME_WIDGET_ADMINISTRATOR_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
    </div>


    {#<div class="row m-t-10">
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper green text-center">
                    <i class="material-icons fa-7x">perm_identity</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_USER_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_USER_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center">
                    <i class="material-icons fa-7x">dashboard</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_DASHBOARD_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_DASHBOARD_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper red text-center">
                    <i class="material-icons fa-7x">class</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_COURSE_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_COURSE_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
    </div>

    <div class="row m-t-30">
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper blue text-center">
                    <i class="material-icons fa-7x">question_answer</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_QUESTION_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_QUESTION_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper red text-center">
                    <i class="material-icons fa-7x">today</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_PERIODIC_QUESTION_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_PERIODIC_QUESTION_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
        <div class="col-md-4 single-colored-widget">
            <a href="#">
                <div class="content-wrapper green text-center">
                    <i class="material-icons fa-7x">lock_outline</i>
                    <h3 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_ADMINISTRATOR_TITLE"|trans }}</span>
                    </h3>
                    <h5 class="text-white">
                        <span class="semi-bold">{{ "HOME_WIDGET_ADMINISTRATOR_DESCRIPTION"|trans }}</span>
                    </h5>
                </div>
            </a>
        </div>
    </div>#}
{% endblock %}


