{% extends "layout/error.twig" %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}

{% block content_error %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
            <div class="error-container">
                <div class="error-main">
                    <div class="error-number"> 404 </div>
                    <div class="error-description"> Page Not Found </div>
                    <div class="error-description-mini"> The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below. </div>
                    <br>
                    <div class="row">
                        <div class="input-with-icon col-md-12"> <i class="fa fa-search"></i>
                            <input type="text" class="form-control" id="form1Name" name="form1Name">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary btn-cons" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_links %} 
    <ul class="footer-links">
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}">Qranio.com</a></li>
    </ul>
{% endblock %}