{% extends "layout/error.twig" %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}

{% block content_error %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
            <div class="error-container">
                <div class="error-main">
                    <div class="error-number"> 405 </div>
                    <div class="error-description"> Method not allowed </div>
                    <div class="error-description-mini"> Method not allowed. Must be one of:  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_links %} 
    <ul class="footer-links">
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="home">Qranio.com</a></li>
    </ul>
{% endblock %}