{% extends "layout/empty.twig" %}

{% block css %}
{% endblock %}

{% block content %} 
    <div class="row login-container column-seperation">
        <div class="col-md-5 col-md-offset-1">
            <p>
                <img src="{{ path_for('asset', {f: 'img/logo-empresa.png'}) }}" alt="" class=" img-responsive">
            </p>
            <p>
                {{ "LOGIN_DESCRIPTION"|trans }}
            </p>

        </div>
        <div class="col-md-5">
            <form action="{{ path_for('login') }}" class="login-form validate" id="login-form" method="post" name="login-form">
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label">{{ "LABEL_EMAIL"|trans }}</label>
                        {{ h.field(form, 'email')|raw }}
                        {{ h.showFieldErrors(form, 'email')|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                        <label class="form-label">{{ "LABEL_PASSWORD"|trans }}</label> <span class="help"></span>
                        {{ h.field(form, 'password')|raw }}
                        {{ h.showFieldErrors(form, 'password')|raw }}

                    </div>
                </div>
                <div class="row">
                    <div class="control-group col-md-10">
                        <div >
                            <a href="{{ path_for('recovery.password') }}" class="link" >{{ "LOGIN_FORGOT_PASSWORD"|trans }}</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                <div class="row">
                    <div class="col-md-10">
                        <button id="btn-animate-icon" class="btn btn-primary btn-cons pull-right" type="submit">{{ "BTN_ENTER"|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(function () {
            $("#btn-animate-icon").click(function () {
                $(this).button('loading');
            });
        });
    </script>


{% endblock %}