{% extends "layout/error.twig" %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}
{% block content_error %}
    {% include 'partial/alert-return.twig' %}
    <div class="row login-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="grid simple form-grid">
                <div class="grid-title no-border  text-center">
                </div>
                <div class="grid-body no-border">
                    <div class="text-center">
                        <i class="material-icons fa-5x">lock_open</i><i class="material-icons fa-5x">arrow_right_alt</i><i class="material-icons fa-5x">lock</i>
                        <h3>
                            <span class="bold">{% if expired %}{{ "EXPIRED_PASSWORD_TITLE"|trans }}{% else %}{{ "TEMPORARY_PASSWORD_TITLE"|trans }}{% endif %}</span>
                        </h3>
                    </div>
                    <p><span class="bold large-text">{% if expired %}{{ "EXPIRED_PASSWORD_HELLO"|trans }}{% else %}{{ "TEMPORARY_PASSWORD_HELLO"|trans }}{% endif %}</span></p>
                    <p>{% if expired %}{{ "EXPIRED_PASSWORD_DESCRIPTION"|trans }}{% else %}{{ "TEMPORARY_PASSWORD_DESCRIPTION"|trans }}{% endif %}</p>
                    <form action="{{ path_for('redefine.password') }}" class="login-form validate" id="redefine-password-form" method="post" name="recovery-password-form">
                        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                        {{ h.field(form, 'id_user')|raw }}
                        {{ h.field(form, 'expired')|raw }}
                        <div class="row">
                            <div class="form-group col-md-10">
                                <label class="form-label">{{ "LABEL_PASSWORD_NEW"|trans }}</label> <span class="help"></span>
                                {{ h.field(form, 'password')|raw }}
                                {{ h.showFieldErrors(form, 'password')|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10">
                                <label class="form-label">{{ "LABEL_PASSWORD_CONFIRM"|trans }}</label> <span class="help"></span>
                                {{ h.field(form, 'confirm_password')|raw }}
                                {{ h.showFieldErrors(form, 'confirm_password')|raw }}
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-cons" type="" onsubmit="">{{ "BTN_SEND"|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}