{% extends "layout/error.twig" %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}
{% block content_error %}
    {% include 'partial/alert-return.twig' %}
    <div class="row login-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="grid simple form-grid">
                <div class="grid-title no-border  text-center">
                </div>
                <div class="grid-body no-border">
                    <div class="text-center">
                        <i class="material-icons fa-5x">settings_backup_restore</i>
                        <h3>
                            <span class="bold">{{ "RECOVERY_PASSWORD_TITLE"|trans }}</span>
                        </h3>
                    </div>
                    <p><span class="bold large-text">{{ "RECOVERY_PASSWORD_HELLO"|trans }}</span></p>
                    <p>{{ "RECOVERY_PASSWORD_DESCRIPTION"|trans }}</p>
                    <form action="{{ path_for('recovery.password') }}" class="login-form validate" id="recovery-password-form" method="post" name="recovery-password-form">
                        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
                        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                        <div class="input-group">
                            <span class="input-group-addon transparent">				  
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{ h.field(form, 'email')|raw }}
                            {{ h.showFieldErrors(form, 'email')|raw }}
                        </div>

                        <div class="form-actions">
                            <div class="pull-right">
                                <a href="{{ path_for('index') }}" type="button" class="btn btn-default btn-cons" >{{ "BTN_CANCEL"|trans }}</a>
                                <button class="btn btn-primary btn-cons" type="" onsubmit="">{{ "BTN_SEND"|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}