{% extends "layout/error.twig" %}

{% block css %}
{% endblock %}

{% block js %}

{% endblock %}
{% block content_error %}
    <div class="row login-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="grid simple form-grid">
                <div class="grid-title no-border  text-center">
                </div>
                <div class="grid-body no-border">
                    <div class="text-center">
                        <i class="material-icons fa-5x">settings_backup_restore</i>
                        <h3>
                            <span class="bold">{{ "NEW_PASSWORD_TITLE"|trans }}</span>
                        </h3>
                    </div>
                    <p><span class="bold large-text">{{ "NEW_PASSWORD_HELLO"|trans }} >>NOME DO USUARIO<<<</span></p>
                    <p>{{ "NEW_PASSWORD_DESCRIPTION"|trans }}</p>
                    <form action="home" class=" validate" id="recovery-password-form" method="post" name="recovery-password-form">
                        <div class="form-group">
                            <label class="form-label">{{ "LABEL_PASSWORD_NEW"|trans }}</label>
                            <input class="form-control" id="txtnewpassword" name="txtnewpassword" type="password" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">{{ "LABEL_PASSWORD_CONFIRM"|trans }}</label>
                            <input class="form-control" id="txtconfirmpassword" name="txtconfirmpassword" type="password" required>
                        </div>
                        <div class="form-actions">
                            <div class="pull-right">
                                <a href="{{ path_for('index') }}" type="button" class="btn btn-default btn-cons" >{{ "BTN_CANCEL"|trans }}</a>
                                <button class="btn btn-primary btn-cons" type="submit">{{ "BTN_CHANGE"|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}