<!DOCTYPE html>
<html>
    <!-- BEGIN HEAD -->
    <head>
        <title>Cerebelo Qranio</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Qranio.com Soluções de Internet SA" name="author" />
        <meta content="Painel de gerenciamento Cerebelo ss" name="description" />
        {# // Favicon // #}
        {% include 'partial/favicon.twig' %}

        {# // CSS Bloco Injetável // #}
        {% block css %} {% endblock %}

        {# // CSS Padrão // #}
        {% include 'partial/default-css.twig' %}
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="">
        <!-- BEGIN HEADER -->
        {% include 'partial/dashboard/header.twig' %}
        <!-- END HEADER -->
        <!-- BEGIN ALL CONTENT -->
        <div class="page-container row-fluid">
            <!-- BEGIN SIDEBAR -->
            {% include 'partial/dashboard/sidebar.twig' %}
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE CONTAINER-->
            <div class="page-content">
                <!-- BEGIN CONTENT -->
                <div class="content">
                    <!-- BEGIN MSG RETURN -->
                    {% include 'partial/alert-return.twig' %}
                    <!-- END MSG RETURN -->
                    <!-- BEGIN BREADCRUMP -->
                    {% block breadcrumb %} {% endblock %}
                    <!-- END BREADCRUMP -->

                    <!-- BEGIN PAGE TITLE -->
                    {% block pagetitle %} {% endblock %}
                    <!-- END BREADCRUMP -->

                    <!-- BEGIN PlACE PAGE CONTENT -->
                    {% block content %} {% endblock %}
                    <!-- END PLACE PAGE CONTENT -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END PAGE CONTAINER -->
        </div>
        <!-- END ALL CONTENT -->

        {# // JS Padrão // #}
        {% include 'partial/default-js.twig' %}

        {# // JS Bloco Injetável // #}
        {%block js %} {%endblock %}

    </body>
    <!-- END BODY -->
</html>