<!DOCTYPE html>
<html>
    <head>
        <title>Cerebelo Qranio</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Qranio.com Soluções de Internet SA" name="author" />
        <meta content="Painel de gerenciamento Cerebelo ss" name="description" />
        {# // Favicon // #}
        {% include 'partial/favicon.twig' %}

        {# // CSS Bloco Injetável // #}
        {% block css %}
        {% endblock %}

        {# // CSS Padrão // #}
        {% include 'partial/default-css.twig' %}

    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="error-body no-top">
        <!-- BEGIN ALL CONTENT -->
        <div class="container">
            <!-- BEGIN MSG RETURN -->
            {% include 'partial/alert-return.twig' %}
            <!-- END MSG RETURN -->
            {% block content %} {% endblock %}
        </div>
        <!-- END ALL CONTENT -->

        {# // JS Padrão // #}
        {% include 'partial/default-js.twig' %}

        {# // JS Bloco Injetável // #}
        {%block js %} {%endblock %}

    </body>
    <!-- END BODY -->
</html>