<!DOCTYPE html>
<html>
    <!-- BEGIN HEAD -->
    <head>
        <title>Cerebelo Qranio</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Qranio.com Soluções de Internet SA" name="author" />
        <meta content="Painel de gerenciamento Cerebelo ss" name="description" />
        {# // Favicon // #}
        {% include 'partial/favicon.twig' %}

        {# // CSS Bloco Injetável // #}
        {% block css %} {% endblock %}

        {# // CSS Padrão // #}
        {% include 'partial/default-css.twig' %}
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="error-body">

        <!-- BEGIN PlACE PAGE CONTENT -->
        <div class="error-wrapper container">
            {% block content_error %} {% endblock %}
        </div>
        <!-- END PlACE PAGE CONTENT -->
        <!-- BEGIN CONTENT FOOTER -->
        <div id="footer">
            <div class="error-container">
                {% block footer_links %} {% endblock %}
                <br>
                <div class="copyright"> All work copyright of respective owner, 2017 Qranio.com SA 
                    <br>
                    <img src="{{ path_for('asset', {f: 'img/logo-empresa.png'}) }}" alt="" data-src="{{ path_for('asset', {f: 'img/logo-empresa.png'}) }}" data-src-retina="{{ path_for('asset', {f: 'img/logo-empresa.png'}) }}" width="100" >
                </div>
            </div>
        </div>
        <!-- END CONTENT FOOTER -->


        {# // JS Padrão // #}
        {% include 'partial/default-js.twig' %}

        {# // JS Bloco Injetável // #}
        {%block js %} {%endblock %}
    </body>
</html>