{% extends "layout/dashboard.twig" %}

{% block css %}
    <!-- BEGIN AMCHART -->
    <link rel="stylesheet" href="{{ path_for('asset', {f: 'components/amcharts3/amcharts/plugins/export/export.css'}) }}" type="text/css" media="all" />
    <!-- END AMCHART -->
{% endblock %}

{% block js %}
    <script src="{{ path_for('asset', {f: 'plugins/jquery-numberAnimate/jquery.animateNumbers.min.js'}) }}" type="text/javascript"></script>
    <!-- BEGIN AMCHART -->
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/amcharts.js'}) }}"></script>
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/serial.js'}) }}"></script>
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/radar.js'}) }}"></script>
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/lang/pt.js'}) }}"></script>
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/plugins/export/export.min.js'}) }}" ></script>
    <script src="{{ path_for('asset', {f: 'components/amcharts3/amcharts/themes/light.js'}) }}"></script>
    <!-- END AMCHART -->

    <script>
        var chart_data = [{
                "date": "2012-07-27",
                "value": 13
            }, {
                "date": "2012-07-28",
                "value": 11
            }, {
                "date": "2012-07-29",
                "value": 15
            }, {
                "date": "2012-07-30",
                "value": 16
            }, {
                "date": "2012-07-31",
                "value": 18
            }, {
                "date": "2012-08-01",
                "value": 13
            }, {
                "date": "2012-08-02",
                "value": 22
            }, {
                "date": "2012-08-03",
                "value": 23
            }, {
                "date": "2012-08-04",
                "value": 20
            }, {
                "date": "2012-08-05",
                "value": 17
            }, {
                "date": "2012-08-06",
                "value": 16
            }, {
                "date": "2012-08-07",
                "value": 18
            }, {
                "date": "2012-08-08",
                "value": 21
            }, {
                "date": "2012-08-09",
                "value": 26
            }, {
                "date": "2012-08-10",
                "value": 24
            }, {
                "date": "2012-08-11",
                "value": 29
            }, {
                "date": "2012-08-12",
                "value": 32
            }, {
                "date": "2012-08-13",
                "value": 18
            }, {
                "date": "2012-08-14",
                "value": 24
            }, {
                "date": "2012-08-15",
                "value": 22
            }, {
                "date": "2012-08-16",
                "value": 18
            }, {
                "date": "2012-08-17",
                "value": 19
            }, {
                "date": "2012-08-18",
                "value": 14
            }, {
                "date": "2012-08-19",
                "value": 15
            }, {
                "date": "2012-08-20",
                "value": 12
            }, {
                "date": "2012-08-21",
                "value": 8
            }, {
                "date": "2012-08-22",
                "value": 9
            }, {
                "date": "2012-08-23",
                "value": 8
            }, {
                "date": "2012-08-24",
                "value": 7
            }, {
                "date": "2012-08-25",
                "value": 5
            }, {
                "date": "2012-08-26",
                "value": 11
            }, {
                "date": "2012-08-27",
                "value": 13
            }, {
                "date": "2012-08-28",
                "value": 18
            }, {
                "date": "2012-08-29",
                "value": 20
            }, {
                "date": "2012-08-30",
                "value": 29
            }, {
                "date": "2012-08-31",
                "value": 33
            }, {
                "date": "2012-09-01",
                "value": 42
            }, {
                "date": "2012-09-02",
                "value": 35
            }, {
                "date": "2012-09-03",
                "value": 31
            }, {
                "date": "2012-09-04",
                "value": 47
            }, {
                "date": "2012-09-05",
                "value": 52
            }, {
                "date": "2012-09-06",
                "value": 46
            }, {
                "date": "2012-09-07",
                "value": 41
            }, {
                "date": "2012-09-08",
                "value": 43
            }, {
                "date": "2012-09-09",
                "value": 40
            }, {
                "date": "2012-09-10",
                "value": 39
            }, {
                "date": "2012-09-11",
                "value": 34
            }, {
                "date": "2012-09-12",
                "value": 29
            }, {
                "date": "2012-09-13",
                "value": 34
            }, {
                "date": "2012-09-14",
                "value": 37
            }, {
                "date": "2012-09-15",
                "value": 42
            }, {
                "date": "2012-09-16",
                "value": 49
            }, {
                "date": "2012-09-17",
                "value": 46
            }, {
                "date": "2012-09-18",
                "value": 47
            }, {
                "date": "2012-09-19",
                "value": 55
            }, {
                "date": "2012-09-20",
                "value": 59
            }, {
                "date": "2012-09-21",
                "value": 58
            }, {
                "date": "2012-09-22",
                "value": 57
            }, {
                "date": "2012-09-23",
                "value": 61
            }, {
                "date": "2012-09-24",
                "value": 59
            }, {
                "date": "2012-09-25",
                "value": 67
            }, {
                "date": "2012-09-26",
                "value": 65
            }, {
                "date": "2012-09-27",
                "value": 61
            }, {
                "date": "2012-09-28",
                "value": 66
            }, {
                "date": "2012-09-29",
                "value": 69
            }, {
                "date": "2012-09-30",
                "value": 71
            }, {
                "date": "2012-10-01",
                "value": 67
            }, {
                "date": "2012-10-02",
                "value": 63
            }, {
                "date": "2012-10-03",
                "value": 46
            }, {
                "date": "2012-10-04",
                "value": 32
            }, {
                "date": "2012-10-05",
                "value": 21
            }, {
                "date": "2012-10-06",
                "value": 18
            }, {
                "date": "2012-10-07",
                "value": 21
            }, {
                "date": "2012-10-08",
                "value": 28
            }, {
                "date": "2012-10-09",
                "value": 27
            }, {
                "date": "2012-10-10",
                "value": 36
            }, {
                "date": "2012-10-11",
                "value": 33
            }, {
                "date": "2012-10-12",
                "value": 31
            }, {
                "date": "2012-10-13",
                "value": 30
            }, {
                "date": "2012-10-14",
                "value": 34
            }, {
                "date": "2012-10-15",
                "value": 38
            }, {
                "date": "2012-10-16",
                "value": 37
            }, {
                "date": "2012-10-17",
                "value": 44
            }, {
                "date": "2012-10-18",
                "value": 49
            }, {
                "date": "2012-10-19",
                "value": 53
            }, {
                "date": "2012-10-20",
                "value": 57
            }, {
                "date": "2012-10-21",
                "value": 60
            }, {
                "date": "2012-10-22",
                "value": 61
            }, {
                "date": "2012-10-23",
                "value": 69
            }, {
                "date": "2012-10-24",
                "value": 67
            }, {
                "date": "2012-10-25",
                "value": 72
            }, {
                "date": "2012-10-26",
                "value": 77
            }, {
                "date": "2012-10-27",
                "value": 75
            }, {
                "date": "2012-10-28",
                "value": 70
            }, {
                "date": "2012-10-29",
                "value": 72
            }, {
                "date": "2012-10-30",
                "value": 70
            }, {
                "date": "2012-10-31",
                "value": 72
            }, {
                "date": "2012-11-01",
                "value": 73
            }, {
                "date": "2012-11-02",
                "value": 67
            }, {
                "date": "2012-11-03",
                "value": 68
            }, {
                "date": "2012-11-04",
                "value": 65
            }, {
                "date": "2012-11-05",
                "value": 71
            }, {
                "date": "2012-11-06",
                "value": 75
            }, {
                "date": "2012-11-07",
                "value": 74
            }, {
                "date": "2012-11-08",
                "value": 71
            }, {
                "date": "2012-11-09",
                "value": 76
            }, {
                "date": "2012-11-10",
                "value": 77
            }, {
                "date": "2012-11-11",
                "value": 81
            }, {
                "date": "2012-11-12",
                "value": 83
            }, {
                "date": "2012-11-13",
                "value": 80
            }, {
                "date": "2012-11-14",
                "value": 81
            }, {
                "date": "2012-11-15",
                "value": 87
            }, {
                "date": "2012-11-16",
                "value": 82
            }, {
                "date": "2012-11-17",
                "value": 86
            }, {
                "date": "2012-11-18",
                "value": 80
            }, {
                "date": "2012-11-19",
                "value": 87
            }, {
                "date": "2012-11-20",
                "value": 83
            }, {
                "date": "2012-11-21",
                "value": 85
            }, {
                "date": "2012-11-22",
                "value": 84
            }, {
                "date": "2012-11-23",
                "value": 82
            }, {
                "date": "2012-11-24",
                "value": 73
            }, {
                "date": "2012-11-25",
                "value": 71
            }, {
                "date": "2012-11-26",
                "value": 75
            }, {
                "date": "2012-11-27",
                "value": 79
            }, {
                "date": "2012-11-28",
                "value": 70
            }, {
                "date": "2012-11-29",
                "value": 73
            }, {
                "date": "2012-11-30",
                "value": 61
            }, {
                "date": "2012-12-01",
                "value": 62
            }, {
                "date": "2012-12-02",
                "value": 66
            }, {
                "date": "2012-12-03",
                "value": 65
            }, {
                "date": "2012-12-04",
                "value": 73
            }, {
                "date": "2012-12-05",
                "value": 79
            }, {
                "date": "2012-12-06",
                "value": 78
            }, {
                "date": "2012-12-07",
                "value": 78
            }, {
                "date": "2012-12-08",
                "value": 78
            }, {
                "date": "2012-12-09",
                "value": 74
            }, {
                "date": "2012-12-10",
                "value": 73
            }, {
                "date": "2012-12-11",
                "value": 75
            }, {
                "date": "2012-12-12",
                "value": 70
            }, {
                "date": "2012-12-13",
                "value": 77
            }, {
                "date": "2012-12-14",
                "value": 67
            }, {
                "date": "2012-12-15",
                "value": 62
            }, {
                "date": "2012-12-16",
                "value": 64
            }, {
                "date": "2012-12-17",
                "value": 61
            }, {
                "date": "2012-12-18",
                "value": 59
            }, {
                "date": "2012-12-19",
                "value": 53
            }, {
                "date": "2012-12-20",
                "value": 54
            }, {
                "date": "2012-12-21",
                "value": 56
            }, {
                "date": "2012-12-22",
                "value": 59
            }, {
                "date": "2012-12-23",
                "value": 58
            }, {
                "date": "2012-12-24",
                "value": 55
            }, {
                "date": "2012-12-25",
                "value": 52
            }, {
                "date": "2012-12-26",
                "value": 54
            }, {
                "date": "2012-12-27",
                "value": 50
            }, {
                "date": "2012-12-28",
                "value": 50
            }, {
                "date": "2012-12-29",
                "value": 51
            }, {
                "date": "2012-12-30",
                "value": 52
            }, {
                "date": "2012-12-31",
                "value": 58
            }, {
                "date": "2013-01-01",
                "value": 60
            }, {
                "date": "2013-01-02",
                "value": 67
            }, {
                "date": "2013-01-03",
                "value": 64
            }, {
                "date": "2013-01-04",
                "value": 66
            }, {
                "date": "2013-01-05",
                "value": 60
            }, {
                "date": "2013-01-06",
                "value": 63
            }, {
                "date": "2013-01-07",
                "value": 61
            }, {
                "date": "2013-01-08",
                "value": 60
            }, {
                "date": "2013-01-09",
                "value": 65
            }, {
                "date": "2013-01-10",
                "value": 75
            }, {
                "date": "2013-01-11",
                "value": 77
            }, {
                "date": "2013-01-12",
                "value": 78
            }, {
                "date": "2013-01-13",
                "value": 70
            }, {
                "date": "2013-01-14",
                "value": 70
            }, {
                "date": "2013-01-15",
                "value": 73
            }, {
                "date": "2013-01-16",
                "value": 71
            }, {
                "date": "2013-01-17",
                "value": 74
            }, {
                "date": "2013-01-18",
                "value": 78
            }, {
                "date": "2013-01-19",
                "value": 85
            }, {
                "date": "2013-01-20",
                "value": 82
            }, {
                "date": "2013-01-21",
                "value": 83
            }, {
                "date": "2013-01-22",
                "value": 88
            }, {
                "date": "2013-01-23",
                "value": 85
            }, {
                "date": "2013-01-24",
                "value": 85
            }, {
                "date": "2013-01-25",
                "value": 80
            }, {
                "date": "2013-01-26",
                "value": 87
            }, {
                "date": "2013-01-27",
                "value": 84
            }, {
                "date": "2013-01-28",
                "value": 83
            }, {
                "date": "2013-01-29",
                "value": 84
            }, {
                "date": "2013-01-30",
                "value": 81
            }];

        var data_categoria = [{
                "categoria": "Música",
                "perguntas": 15613
            },
            {
                "categoria": "Cinema",
                "perguntas": 20182
            },
            {
                "categoria": "Turismo",
                "perguntas": 31252
            },
            {
                "categoria": "Esporte",
                "perguntas": 24342
            },
            {
                "categoria": "Literatura",
                "perguntas": 34631
            },
            {
                "categoria": "Desenho",
                "perguntas": 53452
            },
            {
                "categoria": "História",
                "perguntas": 45644
            },
            {
                "categoria": "Vestibular",
                "perguntas": 15868
            },
            {
                "categoria": "Tecnologia",
                "perguntas": 34536
            },
            {
                "categoria": "Profissões",
                "perguntas": 13741
            },
            {
                "categoria": "Geografia",
                "perguntas": 19456
            },
            {
                "categoria": "Jogos",
                "perguntas": 34532
            },
            {
                "categoria": "TV",
                "perguntas": 45477
            },
            {
                "categoria": "Saúde",
                "perguntas": 35436
            },
            {
                "categoria": "Biologia",
                "perguntas": 45745
            },
            {
                "categoria": "Quimica",
                "perguntas": 45745
            }

        ];

        var data_curso = [{
                "curso": "Música",
                "usuarios": 15613
            },
            {
                "curso": "Cinema",
                "usuarios": 20182
            },
            {
                "curso": "Turismo",
                "usuarios": 31252
            },
            {
                "curso": "Esporte",
                "usuarios": 24342
            },
            {
                "curso": "Literatura",
                "usuarios": 34631
            },
            {
                "curso": "Desenho",
                "usuarios": 53452
            }
        ];
    </script>

    <script>

        /* BEGIN CHART CADASTRO USUARIO*/
        var chart = AmCharts.makeChart("cadastro_usuario", {
            "type": "serial",
            "theme": "light",
            "language": "pt",
            "marginRight": 12,
            "marginLeft": 12,
            "autoMarginOffset": 0,
            "mouseWheelZoomEnabled": false,
            "dataDateFormat": "YYYY-MM-DD",
            "valueAxes": [{
                    "id": "v1",
                    "axisAlpha": 0,
                    "position": "left",
                    "ignoreAxisWidth": true
                }],
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "graphs": [{
                    "id": "g1",
                    "balloon": {
                        "drop": true,
                        "adjustBorderColor": false,
                        "color": "#ffffff"
                    },
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "bulletSize": 5,
                    "hideBulletsCount": 50,
                    "lineThickness": 2,
                    "title": "red line",
                    "useLineColorForBulletBorder": true,
                    "valueField": "value",
                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                }],
            "chartScrollbar": {
                "graph": "g1",
                "oppositeAxis": false,
                "offset": 30,
                "scrollbarHeight": 80,
                "backgroundAlpha": 0,
                "selectedBackgroundAlpha": 0.1,
                "selectedBackgroundColor": "#888888",
                "graphFillAlpha": 0,
                "graphLineAlpha": 0.5,
                "selectedGraphFillAlpha": 0,
                "selectedGraphLineAlpha": 1,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "chartCursor": {
                "pan": true,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha": 1,
                "cursorColor": "#258cbb",
                "limitToGraph": "g1",
                "valueLineAlpha": 0.2,
                "valueZoomable": true
            },
            "valueScrollbar": {
                "oppositeAxis": false,
                "offset": 50,
                "scrollbarHeight": 10
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dashLength": 1,
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true
            },
            "dataProvider": chart_data
        });


        /* END CHART CADASTRO USUARIO */
        /* BEGIN CHART USUARIO ATIVO */
        var chart2 = AmCharts.makeChart("usuario_ativo", {
            "type": "serial",
            "theme": "chalk",
            "marginRight": 12,
            "marginLeft": 12,
            "autoMarginOffset": 0,
            "mouseWheelZoomEnabled": false,
            "dataDateFormat": "YYYY-MM-DD",
            "valueAxes": [{
                    "id": "v1",
                    "axisAlpha": 0,
                    "position": "left",
                    "ignoreAxisWidth": true
                }],
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "graphs": [{
                    "id": "g1",
                    "balloon": {
                        "drop": true,
                        "adjustBorderColor": false,
                        "color": "#ffffff"
                    },
                    "bullet": "round",
                    "bulletBorderAlpha": 1,
                    "bulletColor": "#FFFFFF",
                    "bulletSize": 5,
                    "hideBulletsCount": 50,
                    "lineThickness": 2,
                    "title": "red line",
                    "useLineColorForBulletBorder": true,
                    "valueField": "value",
                    "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
                }],
            "chartScrollbar": {
                "graph": "g1",
                "oppositeAxis": false,
                "offset": 30,
                "scrollbarHeight": 80,
                "backgroundAlpha": 0,
                "selectedBackgroundAlpha": 0.1,
                "selectedBackgroundColor": "#888888",
                "graphFillAlpha": 0,
                "graphLineAlpha": 0.5,
                "selectedGraphFillAlpha": 0,
                "selectedGraphLineAlpha": 1,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "chartCursor": {
                "pan": true,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha": 1,
                "cursorColor": "#258cbb",
                "limitToGraph": "g1",
                "valueLineAlpha": 0.2,
                "valueZoomable": true
            },
            "valueScrollbar": {
                "oppositeAxis": false,
                "offset": 50,
                "scrollbarHeight": 10
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dashLength": 1,
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true
            },
            "dataProvider": chart_data
        });
        /* END CHART USUARIO ATIVO */


        /* BEGIN CHART PERGUNTAS RESPONDIDAS */
        var chartData = generateChartData();

        var chart = AmCharts.makeChart("pergunta_respondida", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "useGraphSettings": true
            },
            "dataProvider": chartData,
            "synchronizeGrid": true,
            "valueAxes": [{
                    "id": "v1",
                    "axisColor": "#FF6600",
                    "axisThickness": 2,
                    "axisAlpha": 1,
                    "position": "left"
                }, {
                    "id": "v2",
                    "axisColor": "#FCD202",
                    "axisThickness": 2,
                    "axisAlpha": 1,
                    "position": "right"
                }, {
                    "id": "v3",
                    "axisColor": "#B0DE09",
                    "axisThickness": 2,
                    "gridAlpha": 0,
                    "offset": 50,
                    "axisAlpha": 1,
                    "position": "left"
                }],
            "graphs": [{
                    "valueAxis": "v1",
                    "lineColor": "#FF6600",
                    "bullet": "round",
                    "bulletBorderThickness": 1,
                    "hideBulletsCount": 30,
                    "title": "Individual",
                    "valueField": "individual",
                    "fillAlphas": 0
                }, {
                    "valueAxis": "v2",
                    "lineColor": "#FCD202",
                    "bullet": "square",
                    "bulletBorderThickness": 1,
                    "hideBulletsCount": 30,
                    "title": "Duelo",
                    "valueField": "duelo",
                    "fillAlphas": 0
                }, {
                    "valueAxis": "v3",
                    "lineColor": "#B0DE09",
                    "bullet": "triangleUp",
                    "bulletBorderThickness": 1,
                    "hideBulletsCount": 30,
                    "title": "Pergunta do Dia",
                    "valueField": "pergunta_dia",
                    "fillAlphas": 0
                }],
            "chartScrollbar": {},
            "chartCursor": {
                "cursorPosition": "mouse"
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true,
                "position": "bottom-right"
            }
        });


// generate some random data, quite different range
        function generateChartData() {
            var chartData = [];
            var firstDate = new Date();
            firstDate.setDate(firstDate.getDate() - 100);

            for (var i = 0; i < 100; i++) {
                // we create date objects here. In your data, you can have date strings
                // and then set format of your dates using chart.dataDateFormat property,
                // however when possible, use date objects, as this will speed up chart rendering.
                var newDate = new Date(firstDate);
                newDate.setDate(newDate.getDate() + i);

                var individual = Math.round(Math.sin(i * 5) * i);
                var duelo = Math.round(Math.random() * 80) + 500 + i * 3;
                var pergunta_dia = Math.round(Math.random() * 6000) + i * 4;

                chartData.push({
                    date: newDate,
                    individual: individual,
                    duelo: duelo,
                    pergunta_dia: pergunta_dia
                });
            }
            return chartData;
        }

        function zoomChart() {
            chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
        }

        /* END CHART PERGUNTAS RESPONDIDAS */

        /* BEGIN CHART CATEGORIAS PERGUNTAS RESPONDIDAS */
        var chart = AmCharts.makeChart("pergunta_categoria", {
            "type": "radar",
            "dataProvider": data_categoria,
            "valueAxes": [{
                    "axisTitleOffset": 20,
                    "minimum": 0,
                    "axisAlpha": 0.15
                }],
            "startDuration": 2,
            "graphs": [{
                    "balloonText": "[[value]] perguntas respondidas",
                    "bullet": "round",
                    "lineThickness": 2,
                    "valueField": "perguntas"
                }],
            "categoryField": "categoria",
            "export": {
                "enabled": true
            }
        });
        /* END CHART CATEGORIAS PERGUNTAS RESPONDIDAS */

        /* BEGIN CHART CCURSOS COMPLETADOS */
        var chart = AmCharts.makeChart("curso_completo", {
            "type": "radar",
            "dataProvider": data_curso,
            "valueAxes": [{
                    "axisTitleOffset": 20,
                    "minimum": 0,
                    "axisAlpha": 0.15
                }],
            "startDuration": 2,
            "graphs": [{
                    "balloonText": "[[value]] usuários completaram",
                    "bullet": "round",
                    "lineThickness": 2,
                    "valueField": "usuarios"
                }],
            "categoryField": "curso",
            "export": {
                "enabled": true
            }
        });
        /* END CHART CATEGORIAS PERGUNTAS RESPONDIDAS */
    </script>

{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <p>{{ "BREADCRUMB_HERE"| trans }}</p>
        </li>
        <li><a href="{{ path_for('dashboard.general') }}" class="active">{{ "DASHBOARD_TITLE"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}

    <div class="row m-b-10">
        <!-- BEGIN -->
        <div class="col-md-4 col-vlg-4 col-sm-12">
            <div class="tiles green m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                    <div class="tiles-title text-black">CADASTROS GERAIS</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Todos</span> <span class="item-count animate-number semi-bold" data-value="2415" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Hoje</span> <span class="item-count animate-number semi-bold" data-value="751" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Mês</span> <span class="item-count animate-number semi-bold" data-value="1547" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% maior <span class="blend">do que no mês passado</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-vlg-4 col-sm-12">
            <div class="tiles blue m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                    <div class="tiles-title text-black">LOGINS GERAIS</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Todos</span> <span class="item-count animate-number semi-bold" data-value="15489" data-animation-duration="700" >0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Hoje</span> <span class="item-count animate-number semi-bold" data-value="551" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Mês</span> <span class="item-count animate-number semi-bold" data-value="1450" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% menor <span class="blend">que no mês passado</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-vlg-4 col-sm-12">
            <div class="tiles purple m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                    <div class="tiles-title text-black">PERGUNTAS RESPONDIDAS</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Todas</span> <span class="item-count animate-number semi-bold" data-value="5695" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Hoje</span> <span class="item-count animate-number semi-bold" data-value="568" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Mês</span> <span class="item-count animate-number semi-bold" data-value="12459" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                        <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%"></div>
                    </div>
                    <div class="description"> <span class="text-white mini-description ">4% maior <span class="blend">que no mês passado</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>CADASTROS DE USUÁRIOS</h4>
                    <div class="tools">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Recolher" class="collapse"></a>
                        <a href="#grid-config" data-toggle="tooltip" title="" data-original-title="Ver Mais" class="config"></a>
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div id="cadastro_usuario" class="tiles white no-margin" style="width:100%; height:300px;" ></div>
                </div>
            </div>
        </div> 
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>USUÁRIOS ATIVOS</h4>
                    <div class="tools">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Recolher" class="collapse"></a>
                        <a href="#grid-config" data-toggle="tooltip" title="" data-original-title="Ver Mais" class="config"></a>
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>

                    </div>
                </div>
                <div class="grid-body no-border">
                    <div id="usuario_ativo" class="tiles white no-margin" style="width:100%; min-height:300px;" ></div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>PERGUNTAS RESPONDIDAS</h4>
                    <div class="tools">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Recolher" class="collapse"></a>
                        <a href="#grid-config" data-toggle="tooltip" title="" data-original-title="Ver Mais" class="config"></a>
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div id="pergunta_respondida" class="tiles white no-margin" style="width:100%; min-height:300px;" ></div>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>CATEGORIAS MAIS RESPONDIDAS</h4>
                    <div class="tools">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Recolher" class="collapse"></a>
                        <a href="#grid-config" data-toggle="tooltip" title="" data-original-title="Ver Mais" class="config"></a>
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div id="pergunta_categoria" class="tiles white no-margin" style="width:100%; height:300px;" ></div>
                </div>
            </div>
        </div> 
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>CURSOS COMPLETOS</h4>
                    <div class="tools">
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Recolher" class="collapse"></a>
                        <a href="#grid-config" data-toggle="tooltip" title="" data-original-title="Ver Mais" class="config"></a>
                        <a href="javascript:;" data-toggle="tooltip" title="" data-original-title="Atualizar" class="reload"></a>

                    </div>
                </div>
                <div class="grid-body no-border">
                    <div id="curso_completo" class="tiles white no-margin" style="width:100%; min-height:300px;" ></div>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}