{% extends "layout/dashboard.twig" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ AQUI</p></li>
        <li><a href="my-account" class="active">Minha Conta</a></li>
    </ul>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class=" tiles white col-md-12 no-padding">
                <div class="tiles green cover-pic-wrapper">
                    <div class="overlayer bottom-right">
                        <div class="overlayer-wrapper">
                            <div class="padding-10">
                                <a href="{{ path_for('account.profile.edit') }}" class="btn btn-primary btn-small"><i class="fa fa-edit"></i><span class="m-l-10">Editar</span></a>
                            </div>
                        </div>
                    </div>
                    <img src="{{ path_for('asset', {f: '/img/example/cover_pic.png'}) }}" alt="">
                </div>
                <div class="tiles white">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="user-profile-pic profile-wrapper">
                                <img width="90" data-src="{{ s.get('cerebelo').user_profile.photo }}"  alt=""/>
                            </div>
                            <div class="user-mini-description">
                                <h3 class="text-success semi-bold">
                                    {{ s.get('cerebelo').user_profile.count_visits }}
                                    16.286
                                </h3>
                                <h5>Acessos</h5>
                            </div>
                        </div>
                        <div class="col-md-8 user-description-box col-sm-8">
{#                            <h4 class="semi-bold no-margin"> {{ s.get('cerebelo').user_profile.name }}</h4>
                            <h6 class="no-margin"> {{ s.get('cerebelo').user_profile.date_last_login }}</h6>
                            <br>
                            <p><i class="fa fa-briefcase"></i>{{ s.get('cerebelo').user_profile.email }}</p>
                            <p><i class="fa fa-envelope"></i>{{ s.get('cerebelo').user_profile.email }}</p>
                            <p><i class="fa fa-file-o"></i>{{ s.get('cerebelo').user_profile.login }}</p>#}
                            <h4 class="semi-bold no-margin"> Gian Menezes</h4>
                            <h6 class="no-margin"> Último Login: 20/06/2017 15:00:35</h6>
                            <br>
                            <p><i class="fa fa-briefcase"></i>Analista de Sistemas</p>
                            <p><i class="fa fa-envelope"></i>gianmenezes@qranio.com</p>
                            <p><i class="fa fa-group"></i>Sistema</p>
                            <p><i class="fa fa-globe"></i>Protuguês Brasil</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tiles white">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                    </div>
                    <div class="tiles-title"> NOTIFICATIONS </div>
                    <br>
                    <div class="notification-messages info">
                        <div class="user-profile"> <img src="assets/img/profiles/c2x.jpg" alt="" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35"> </div>
                        <div class="message-wrapper">
                            <div class="heading"> David Nester - Commented on your wall </div>
                            <div class="description"> Meeting postponed to tomorrow </div>
                        </div>
                        <div class="date pull-right"> Just now </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="notification-messages danger">
                        <div class="iconholder"> <i class="icon-warning-sign"></i> </div>
                        <div class="message-wrapper">
                            <div class="heading"> Server load limited </div>
                            <div class="description"> Database server has reached its daily capicity </div>
                        </div>
                        <div class="date pull-right"> Yesterday </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="notification-messages success">
                        <div class="user-profile"> <img src="assets/img/profiles/h2x.jpg" alt="" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35"> </div>
                        <div class="message-wrapper">
                            <div class="heading"> You have've got 150 messages </div>
                            <div class="description"> 150 newly unread messages in your inbox </div>
                        </div>
                        <div class="date pull-right"> Yesterday </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="notification-messages info">
                        <div class="user-profile"> <img src="assets/img/profiles/c2x.jpg" alt="" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35"> </div>
                        <div class="message-wrapper">
                            <div class="heading"> David Nester - Commented on your wall </div>
                            <div class="description"> Meeting postponed to tomorrow </div>
                        </div>
                        <div class="date pull-right"> Just now </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="notification-messages info">
                        <div class="user-profile"> <img src="assets/img/profiles/c2x.jpg" alt="" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35"> </div>
                        <div class="message-wrapper">
                            <div class="heading"> David Nester - Commented on your wall </div>
                            <div class="description"> Meeting postponed to tomorrow </div>
                        </div>
                        <div class="date pull-right"> Just now </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="notification-messages info">
                        <div class="user-profile"> <img src="assets/img/profiles/c2x.jpg" alt="" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35"> </div>
                        <div class="message-wrapper">
                            <div class="heading"> David Nester - Commented on your wall </div>
                            <div class="description"> Meeting postponed to tomorrow </div>
                        </div>
                        <div class="date pull-right"> Just now </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}