{% extends "layout/dashboard.twig" %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="assets/js/countries.js" type="text/javascript"></script>
    <script language="javascript">
        populateCountries("country", "state");
    </script>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>VOCÊ ESTÁ AQUI</p></li>
        <li><a href="my-account">Minha Conta</a></li>
        <li><a href="my-account-edit" class="active">Editar</a></li>
    </ul>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title">
                    <h4>Informações Básicas</h4>
                </div>
                <div class="grid-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Nome</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Genero</label>
                            <div class="controls">
                                <div class="radio">
                                    <input id="male" type="radio" name="gender" value="male" checked="checked">
                                    <label for="male">Male</label>
                                    <input id="female" type="radio" name="gender" value="female">
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Data de Nascimento</label>
                            <div class="controls">
                                <div class="input-append success date">
                                    <input type="text" class="form-control" id="sandbox-advance">
                                    <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Ocupação</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title">
                    <h4>Endereço</h4>

                </div>

                <div class="grid-body">
                    <div class="form-group">
                        <label class="form-label">País</label>
                        <div class="controls">
                            <select id="country" class=" select select2-search" name ="country"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Estado</label>
                        <div class="controls">
                            <select name ="state" class="select select2-search" id ="state"></select> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="form-label">Logradouro</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Numero</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Complemento</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="form-label">Bairro</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Cidade</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">CEP</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}