{% if alert_error|length > 0 %}
    <div class="alert alert-block alert-error ">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading"> {{ "ALERT_ERROR"|trans }}</h4>
        {% for value in alert_error %}
            <p>
                {{ value|trans }}
            </p>
        {% endfor %}
    </div>
{% endif %}

{% if alert_success|length > 0 %}
    <div class="alert alert-block alert-success ">
        <button type="button" class="close" data-dismiss="alert"></button>
        <h4 class="alert-heading"> {{ "ALERT_SUCCESS"|trans }}</h4>
        {% for value in alert_success %}
            <p>
                {{ value|trans}}
            </p>
        {% endfor %}
    </div>
{% endif %}