{% if item.type == 'menu' %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <h4>{{ item.name|trans }}</h4>
    </div>
    {% for c in item.children %}
        {% include 'partial/cerebelo_permission_item.twig' with {'item': c} %}
    {% endfor %}
</div>
{% else %}
    <div class="col-md-2 col-sm-2 col-xs-4 m-b-20">
        <span class="">{{ item.name|trans }}</span> <br>
        <input id="{{ item.id }}" name="form_permissions[]" value="{{ item.id }}" type="checkbox" class="js-switch"{% if permissions[item.id] == 'Y' %} checked{% endif %}/>
    </div>
{% endif %}