<!-- BEGIN PLUGIN CSS BOWER INSTALL-->
<link href="{{ path_for('asset', {f: 'components/pace/themes/green/pace-theme-flash.css'}) }}" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ path_for('asset', {f: 'components/bootstrap/dist/css/bootstrap.min.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/bootstrap/dist/css/bootstrap-theme.min.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/jquery.scrollbar/jquery.scrollbar.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/font-awesome/css/font-awesome.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/animate.css/animate.min.css'}) }}" rel="stylesheet" type="text/css" />
<link href="{{ path_for('asset', {f: 'components/messenger/build/css/messenger.css'}) }}" rel="stylesheet" type="text/css"/>
<link href="{{ path_for('asset', {f: 'components/messenger/build/css/messenger-theme-flat.css'}) }}" rel="stylesheet" type="text/css"/>
<!-- BEGIN PLUGIN CSS BOWER INSTALL-->

<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ path_for('asset', {f: 'css/webarch.min.css'}) }}" rel="stylesheet" type="text/css" />
<!-- END CORE CSS FRAMEWORK -->