<!-- BEGIN CORE JS FRAMEWORK-->
<script src="{{ path_for('asset', {f: 'components/pace/pace.min.js'}) }}" type="text/javascript"></script>
<!-- BEGIN JS DEPENDECENCIES-->
<script src="{{ path_for('asset', {f: 'components/jquery/dist/jquery.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/bootstrap/dist/js/bootstrap.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/blockui/jquery.blockUI.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/jquery-unveil/jquery.unveil.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/jquery.scrollbar/jquery.scrollbar.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/jquery-validation/dist/jquery.validate.min.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/jquery-validation/src/localization/messages_pt_BR.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'components/messenger/build/js/messenger.js'}) }}" type="text/javascript"></script>
<!-- END CORE JS DEPENDECENCIES-->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{{ path_for('asset', {f: 'js/webarch.js'}) }}" type="text/javascript"></script>
<script src="{{ path_for('asset', {f: 'js/cerebelo.js'}) }}" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->