<div id="modal-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="grid simple form-grid">
                    <div class="grid-title no-border  text-center">
                    </div>
                    <div class="grid-body no-border">
                        <div class="text-center">
                            <i class="material-icons fa-5x">report</i>
                            <div id="alert-question-delete">
                                <h3>
                                    <span class="bold">{{ "RECOVERY_PASSWORD_TITLE"|trans }}</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="record_to_delete">
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btnDelete" class="btn btn-primary btn-cons m-b-0" onclick="processDelete();">OK</button>
                    <button type="button" id="btnCancel" class="btn btn-default btn-cons m-b-0" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-result" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-alert" class="alert alert-danger">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSuccess" class="btn btn-primary btn-cons" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->