<script type="text/javascript">
    function processDelete() {
        id_record = $("#record_to_delete").val();
        $('#modal-delete').modal('hide');
        qrCerebelo.block();
        //reseta os erros
        $("#modal-alert").removeClass('alert-success');
        $("#modal-alert").removeClass('alert-danger');
        $("#modal-alert h4").remove();
        $.post( "{{ path_for(delete_route) }}", {"id_record": id_record})
        .done(function(r) {
            if (r.data && r.data.redirect) {
                $("#btnSuccess").click(function(){
                    qrCerebelo.block();
                    window.location.href = r.data.next_url;
                });
            }
            if (r.error) {                    
                //fazer os tratamentos de erro
                $("#modal-alert").addClass('alert-danger');
                var _messages = [];
                var html = "";
                if (r.messages.length > 1) {
                    r.messages.shift();
                }
                $.each(r.messages, function() {
                    _messages.push(this);
                });
                html = _messages.join('<br/>');
                $("#modal-alert").html('<h4>' + html + '</h4>');
                qrCerebelo.unblock();
                $('#modal-result').modal('show');
            }
            else {
                $("#modal-alert").addClass('alert-success');
                $("#modal-alert").html('<h4>{{ "MSG_RECORD_DELETED"|trans }}</h4>');
                $('#modal-result').modal('show');
            }
        })
        .fail(function(data) {
            console.log(data);
            //erro inesperado
            $("#modal-alert").addClass('alert-danger');
            $("#modal-alert").html('<h4>' + '{{ "ERROR_MSG_TRY_AGAIN"|trans }}' + '</h4>');
            qrCerebelo.unblock();
            $('#modal-result').modal('show');
            return false;
        });
    }

    function deleteRecord(id_record, record_description, callback) {
        if (!record_description) {
            record_description = id_record;
        }
        $("#alert-question-delete").html('<h3><span class="bold">{{ "MSG_RECORD_DELETE_CONFIRM"|trans }}</span></h3>'.replace('%s', record_description));
        $("#record_to_delete").val(id_record);
        if (callback !== undefined) {
            var getType = {};
            if (callback && getType.toString.call(callback) === '[object Function]') {
                $("#btnSuccess").on("click", function() {
                    callback(id_record);
                });
            }
        }
        $('#modal-delete').modal('show');
    }
</script>