{# ### Favicon ### #}

{# IE #}
<!--[if IE]><link rel="shortcut icon" href="{{ path_for('asset', {f: 'img/favicon.ico'}) }}"><![endif]-->

{# Favicon 16x16 #}
<link rel="icon" href="{{ path_for('asset', {f: 'img/favicon/favicon-16.png'}) }}" sizes="16x16">

{# Favicon 32x32 #}
<link rel="icon" href="{{ path_for('asset', {f: 'img/favicon/favicon-32.png'}) }}" sizes="32x32">

{# Favicon 48x48 #}
<link rel="icon" href="{{ path_for('asset', {f: 'img/favicon/favicon-48.png'}) }}" sizes="48x48">

{# Favicon 64x64 #}
<link rel="icon" href="{{ path_for('asset', {f: 'img/favicon/favicon-64.png'}) }}" sizes="64x64">

{# Favicon 128x128 #}
<link rel="icon" href="{{ path_for('asset', {f: 'img/favicon/favicon-128.png'}) }}" sizes="128x128">

{# iPhone iOS7+ com Retina Display #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-180x180.png'}) }}">

{# iPad iOS7+ com Retina Display #}
<link rel="apple-touch-icon" sizes="152x152" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-152x152.png'}) }}">

{# iPad iOS7- com Retina Display #}
<link rel="apple-touch-icon" sizes="144x144" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-144x144.png'}) }}">

{# iPhone iOS7+ com Retina Display #}
<link rel="apple-touch-icon" sizes="120x120" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-120x120.png'}) }}">

{# iPhone iOS7- com Retina Display #}
<link rel="apple-touch-icon" sizes="114x114" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-114x114.png'}) }}">

{# iPad iOS7+ sem retina display e iPad Mini #}
<link rel="apple-touch-icon" sizes="76x76" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-76x76.png'}) }}">

{# iPad iOS7- sem retina display #}
<link rel="apple-touch-icon" sizes="72x72" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon-72x72.png'}) }}">

{# iPhone iOS7-, iPod Touch e Android 2.2+ #}
<link rel="apple-touch-icon" sizes="57x57" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon.png'}) }}">

{# iPhone iOS7-, iPod Touch e Android 2.2+ #}
<link rel="apple-touch-icon" href="{{ path_for('asset', {f: 'img/favicon/apple-touch-icon.png'}) }}">

{# Windows 8 Tile  #}
<meta name="msapplication-TileImage" content="{{ path_for('asset', {f: ''}) }}img/favicon/tile.png"/>
<meta name="msapplication-TileColor" content="#fdc536"/>