{% if floating_buttons %}
{% set buttons = [] %}
{% for b in floating_buttons %}
    {% if h.userCanAccessRoute(b.route) %}
        {% if b.route and not b.click_event %}
            {% if b.route_params %}
                {% set route = path_for(b.route, b.route_params) %}
            {% else %}
                {% set route = path_for(b.route) %}
            {% endif %}
        {% else %}
            {% set route = '' %}
        {% endif %}
        {% if b.click_event %}{% set onClick = b.click_event %}{% else %}{% set onClick = '' %}{% endif %}
        {% set button = {
            'route': route,
            'onClick': onClick,
            'icon': b.button_icon,
            'name': b.button_name,
        } %}
        {% set buttons = buttons|merge([button]) %}
    {% endif %}
{% endfor %}
{% endif %}
{% if buttons|length > 0 %}
    {% if buttons|length == 1 %}
    <a href="{% if buttons[0].route %}{{ buttons[0].route }}{% else %}#{% endif %}"{% if buttons[0].onClick %} onClick="{{ buttons[0].onClick }}"{% endif %} class="float" data-toggle="tooltip" data-placement="left" title="{{ buttons[0].name|trans|raw }}">
        <i class="fa {{ buttons[0].icon }} fa-2x my-float"></i>
    </a>
    {% else %}
    <a href="#" class="float" id="menu-share">
        <i class="fa fa-bars fa-2x my-float"></i>
    </a>
    <ul class="ul-floating-button">
        {% for b in buttons %}
        <li>
            <a href="{% if b.route %}{{ b.route }}{% else %}#{% endif %}"{% if b.onClick %} onClick="{{ b.onClick }}"{% endif %} data-toggle="tooltip" data-placement="left" title="{{ b.name|trans|raw }}">
                <i class="fa {{ b.icon }} fa-2x my-float"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}