{% if toolbar_buttons %}
<div id="tb-toolbar" class="btn-group">
    {% for b in toolbar_buttons %}
    <a class="{{ b.class }}" href="{{ path_for(b.route) }}">
        <i class="{{ b.icon }}"></i> {{ b.name| trans }}
    </a>
    {% endfor %}
</div>
{% endif %}