{% if table_buttons %}
<script>
function getGenericTableButtons(value, row, index) {
    var buttons = [];
    {% for b in table_buttons %}
        {% if h.userCanAccessRoute(b.route) %}
            var button = {
                'route': {% if b.route %}{% if b.route_params %}'{{ path_for(b.route, b.route_params) }}'{% else %}'{{ path_for(b.route) }}'{% endif %}{% else %}''{% endif %},
                'onClick': '{{ b.click_event }}',
                'exceptions': [{% for e in b.exceptions %}{'field': '{{ e.field }}', 'value': '{{ e.value }}'}{% if not loop.last %},{% endif %}{% endfor %}],
                'button_class': '{{ b.button_class }}',
                'button_icon': '{{ b.button_icon }}',
                'button_name': '{{ b.button_name|trans }}'
            };
            {% for u in b.id_replace_url %}
                button.route = button.route.replace("id_replace_url{{ loop.index }}", row['{{ u }}'])
                button.onClick = button.onClick.replace("id_replace_url{{ loop.index }}", row['{{ u }}'])
            {% endfor %}
            var addButton = true;
            if (button.exceptions.length > 0) {
                for (i = 0; i < button.exceptions.length; i++) {
                    addButton = addButton && !(row[button.exceptions[i]['field']] == button.exceptions[i]['value']);
                }
            }
            if (addButton) {
                buttons.push(button);
            }
        {% endif %}
    {% endfor %}

    var table_options = [];
    if (buttons.length > 0) {
        if (buttons.length > 1) {
            table_options.push('<div class="btn-group">');
            table_options.push('<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-ellipsis-h"></i> </a>');
            table_options.push('<ul class="dropdown-menu">');
            for (i = 0; i < buttons.length; i++) {
                if (buttons[i]['onClick']) {
                    table_options.push('<li><a class="' + buttons[i]['button_class'] + '" href="#" onClick="' + buttons[i]['onClick'] + '"><i class="' + buttons[i]['button_icon'] + '"></i> <span class="bold m-l-5">' + buttons[i]['button_name'] + '</span></a></li>');
                }
                else {
                    table_options.push('<li><a class="' + buttons[i]['button_class'] + '" href="' + buttons[i]['route'] + '"><i class="' + buttons[i]['button_icon'] + '"></i> <span class="bold m-l-5">' + buttons[i]['button_name'] + '</span></a></li>');
                }
            }
            table_options.push('</ul>');
            table_options.push('</div>');
        }
        else {
            if (buttons[0]['onClick']) {
                table_options.push('<a class="btn btn-mini ' + buttons[0]['button_class'] + '" href="#" onClick="' + buttons[0]['onClick'] + '"><i class="' + buttons[0]['button_icon'] + '"></i></a>');
            }
            else {
                table_options.push('<a class="btn btn-mini ' + buttons[0]['button_class'] + '" href="' + buttons[0]['route'] + '"><i class="' + buttons[0]['button_icon'] + '"></i></a>');
            }
        }
    }

    return table_options.join('');
}
</script>
{% endif %}