<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_NAME"|trans }}</label>
        {{ h.field(form, 'title')|raw }}
        {{ h.showFieldErrors(form, 'title')|raw }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label">{{ "LABEL_ENABLED"|trans }}</label>
        {{ h.field(form, 'enable')|raw }}
        {{ h.showFieldErrors(form, 'enable')|raw }}
    </div>
</div>
<input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
<input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">