{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/select2/dist/css/select2.min.css'}) }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>{{ "BREADCRUMB_HERE"| trans }}</p></li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="{{ path_for('administrator.group.index') }}">{{ "GROUP_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "GROUP_ADD"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <a href="{{ path_for('administrator.group.index') }}"> <i class="icon-custom-left"></i></a>
        <h3>{{ "GROUP_TITLE"| trans }} - <span class="semi-bold">{{ "GROUP_ADD"| trans }}</span></h3>
    </div>

    <div class="row-fluid">
        <div class="grid simple ">
            <div class="grid-title border">
                <h4><i class="fa fa-plus-circle icon-2x"></i> {{ "GROUP_ADD_GROUP_USER"| trans }} </h4>
            </div>
            <div class="grid-body">
                <form action="{{ path_for('administrator.group.insert') }}" method="post" class="form validate" >
                    {% include 'view/administrator/group/form.twig' %}
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btn-animate-icon" class="btn btn-primary btn-cons pull-right" type="submit">{{ "BTN_SAVE"|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/select2.min.js'}) }}" type="text/javascript"></script>
    <script src="{{ path_for('asset', {f: 'components/select2/dist/js/i18n/pt-BR.js'}) }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#enable').select2({
                language: "pt-BR",
                placeholder: "{{ "OPTION_SELECT"|trans }}",
                allowClear: true
            });
        });




    </script>

{% endblock %}




