{% extends "layout/dashboard.twig" %}

{% block css %}
    <link href="{{ path_for('asset', {f: 'components/switchery/dist/switchery.min.css'}) }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><p>{{ "BREADCRUMB_HERE"| trans }}</p></li>
        <li><a href="{{ path_for('home') }}">{{ "ADMINISTRATOR_TITLE"| trans }}</a></li>
        <li><a href="{{ path_for('administrator.group.index') }}">{{ "GROUP_TITLE"| trans }}</a></li>
        <li><a href="" class="active">{{ "GROUP_PERMISSION"| trans }}</a></li>
    </ul>

{% endblock %}

{% block content %}
    <div class="page-title">
        <a href="{{ path_for('administrator.group.index') }}"> <i class="icon-custom-left"></i></a>
        <h3>{{ "GROUP_TITLE"| trans }} - <span class="semi-bold">{{ "GROUP_PERMISSION_GROUP_USER"| trans }}</span></h3>
    </div>
    <div class="row">
        <form action="{{ path_for('administrator.group.permission.update') }}" method="post" >
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <input type="hidden" name="id_group" value="{{id_group}}">
            <input type="hidden" name="actions" value="{{actions_json}}">
            <input type="hidden" name="permissions" value="{{permissions_json}}">

            {% for m in actions %}
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title">
                            <h4>
                                <i class="material-icons">{{ m.icon }}</i>
                                {{ m.name|trans }}
                            </h4>
                        </div>
                        <div class="grid-body ">
                            {% for c in m.children %}
                                {% include 'partial/cerebelo_permission_item.twig' with {'item': c} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="form-actions">
                <div class="pull-right">
                    <button class="btn btn-primary btn-cons" type="submit">{{ "BTN_UPDATE"|trans }}</button>
                </div>
            </div>
            {#<div class="col-md-12">#}
                {#<div class="grid simple">#}
                    {#<div class="grid-body">#}
                        {#<button class="btn btn-primary btn-cons pull-right" type="submit">{{ "BTN_UPDATE"|trans }}</button>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </form>
    </div>

{% endblock %}

{% block js %}

    <script src="{{ path_for('asset', {f: 'components/switchery/dist/switchery.min.js'}) }}" type="text/javascript"></script>
    <script>
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function (html) {
            var switchery = new Switchery(html);
        });

    </script>
{% endblock %}




